[2017-10-13 13:55] mcollina opened #16 "support for async-await plugins"
As titled, fastify now supports them!

[2017-10-15 09:54] mcollina opened #17 "since v0.30 log level is not fatal anymore"
Logging is disabled by default in fastify, however I think in the CLI we should default it to info, and maybe throw in `pino-colada` as well (maybe), and __definitely remove the `console.log` statements__.

cc @allevo @delvedor

[2017-10-15 10:02] allevo commented on #17
this was my next PR!

[2017-10-19 09:17] allevo opened #18 "If imported file throw a wrong error is shown in console"
Consider file "myserver.js"
[code]

`fastify myserver.js` throws a wrong error ("Cannot find the specified file ....")

Maybe a check [here](https://github.com/fastify/fastify-cli/blob/master/cli.js#L47) on `error.code` is needed

[2017-10-19 14:20] delvedor commented on #18
Pr? :)

[2017-10-19 14:52] allevo commented on #18
I'll :smile:

[2017-10-26 10:32] dottorblaster commented on #16
Hi!

Do you mean something like this as an async/await plugin?

[code]

[2017-10-26 10:37] delvedor commented on #16
Hi @dottorblaster!
Nope, he means that the plugin can use async/await, so:
[code]

Checkout [avvio](https://github.com/mcollina/avvio) if you want to see how we handle plugins :)

[2017-10-26 10:38] dottorblaster commented on #16
Nice! Giving this a shot as soon as possible 😉 Thanks for the support!

[2017-12-05 20:20] mcollina commented on #16
Done

[2017-12-05 20:20] #16 closed

[2017-12-05 23:02] dottorblaster commented on #16
![Perfect!](https://media.giphy.com/media/Rr3lgUreqh5V6/giphy.gif)

[2017-12-27 17:02] allevo opened #26 "Add "--opts NAME=VALUE" in order to pass the parameters to plugin"
as titled

`fastify --opts VAR1=value1 --opts VAR2=value2 index.js`

`index.js`
[code]

[2017-12-27 19:00] mcollina commented on #26
I would prefer to load/parse a json/js file for this. It will also be simpler.

[2018-01-04 18:59] allevo commented on #26
`fastify --config-file /path/to/js/or/json/file index.js` ?

[2018-01-04 20:13] mcollina commented on #26
How about —config?

[2018-01-04 22:36] allevo opened #29 "Update .travis.yml"

[2018-01-04 23:04] allevo commented on #26
ok.
But I'm not sure that a configuration file suite better that an command line argument.

I like a lot seeing the parameters on `ps aux` command on the server. What do you think?

[2018-01-05 07:59] mcollina commented on #26
What others do? Doing these type of manipulations lead to complex code.

How about something like:

[code]

Which will invoke:

[code]

Or some other combination to make this transparent without building a new option parsing tool.

[2018-01-05 17:07] #17 closed

[2018-01-05 17:07] #29 closed

[2018-01-05 17:09] #18 closed

[2018-01-07 19:39] leecade opened #31 "How to support dotenv / fastify-env / process.env?"
.env

[code]

[code]

[2018-03-05 12:09] allevo opened #41 "Publish in order to update fastify version"
We need to find a solution in order to keep the `fastify` version updated.

Currently the published package is shipped with 0.36 :disappointed:

@mcollina @delvedor

[2018-03-05 12:15] mcollina commented on #41
once we go 1.0.0 this will not be a problem anymore.
Plus, this package use the one installed in the project anyway.

[2018-03-09 09:44] daaaaa opened #43 "Support bodyLimit from cli"
As titled, allow --bodyLimit to be accepted from fastify-cli

[2018-03-09 09:46] allevo commented on #43
Hi daaaaa, thank you for checking out this project!

I'll add the options as soon as possible.

[2018-03-09 10:05] delvedor commented on #43
@daaaaa PRs are welcome

[2018-03-10 15:31] mcollina opened #44 "Broken pino-colada integration"
as titled, `-P` is not doing anything.

[2018-03-12 09:44] greenkeeper[bot] opened #45 "An in-range update of request is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.84.0** of [request](https://github.com/request/request) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fastify-cli/compare/greenkeeper%2Frequest-2.84.0">Build failin

[2018-03-12 09:48] mcollina opened #46 "remove request as a dependency"
See #45

[2018-03-12 09:55] daaaaa commented on #43
Well, you're right. I'll try to to it during this week.

[2018-03-29 08:32] #41 closed

[2018-03-29 08:32] #43 closed

[2018-04-08 06:56] nileshmali opened #56 "How to start http2 server using fastify-cli"
I am trying to write microservices for one of application by refering [fastify-example-twitter](https://github.com/fastify/fastify-example-twitter/tree/refatorize-as-suggested).
I want those to be http2 enabled without ssl for internal communication between microservices.
Is there any way I could enable http2 while using fastify-cli for bootstraping microservice.

[2018-04-08 19:44] delvedor commented on #56
You can add `module.exports.options` as shown [here](https://github.com/fastify/fastify-cli/blob/master/examples/plugin-with-options.js). Those options will be passed to the Fastify instance :)

[2018-04-08 19:44] #56 closed

[2018-04-09 12:38] delvedor opened #57 "Bind 0.0.0.0 in docker env"
If you run a Fastify server in Docker by default it will run on the address `127.0.0.1` which is not reachable from outside.
We can add an [*is docker*](https://github.com/sindresorhus/is-docker) check and if it is true, use `0.0.0.0` instead of `127.0.0.1`.

What do you think?

[2018-04-09 12:42] ninjatux commented on #57
it's a sensible thing to do if by default we want a working service limiting options and arguments when running `in` docker

[2018-04-09 14:15] mcollina commented on #57
I would do this by default if bundled within docker.

[2018-04-10 13:21] #57 closed, assigned to nobody

[2018-04-12 08:47] delvedor commented on #46
Closed in #59

[2018-04-12 08:47] #46 closed

[2018-04-12 08:47] delvedor commented on #45
Closed by #59

[2018-04-12 08:47] #45 closed

[2018-04-12 08:48] delvedor commented on #31
Now we are reading env variables by default here:
https://github.com/fastify/fastify-cli/blob/3a66db5ea3571e43e17580dabe08f0663f18e42b/start.js#L152-L168

Closing :)

[2018-04-12 08:48] #31 closed

[2018-04-12 08:49] delvedor commented on #44
Can we close this?
If you generate a project and then `npm run dev`, pino colada is working as expected.

[2018-04-12 09:02] mcollina commented on #44
I think if -P is passed, we should automatically raise the log level to info. That was my problem here.

[2018-04-19 09:39] pyros2097 commented on #57
Damn'it I'm too late. Just ran into it when using docker. Would have been easier if I had seen this earlier.

[2018-04-27 09:37] greenkeeper[bot] opened #65 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-07 01:21] paulZzhang opened #68 "How to deploy on the production environment"
How to deploy on the production environment

[2018-05-07 05:56] mcollina commented on #68
This is a very long topic. It deploys like any other node application. I would recommend using Docker.

We are currently not generating a dockerfile, but it might make sense to do this.

[2018-05-07 08:28] paulZzhang commented on #68
Please add a document how to deploy, Thanks.

[2018-05-09 00:55] #68 closed

[2018-05-11 13:32] tiswrt opened #69 "Generating project does not work with yarn"
Hello!

Generating a new project with yarn does not work, because yarn does not include a scripts property to the package.json.

[code]

works fine with npm

[2018-05-11 16:50] mcollina commented on #69
As you can imagine we are not yarn users! Would you mind sending us a PR?

[2018-05-11 21:51] #69 closed

[2018-05-16 12:43] paulZzhang opened #71 "How to debug in VScode editor"
How to debug in VScode editor by fastify-cli

[2018-05-16 13:27] delvedor commented on #71
Hi! I'm not sure what's the question here.
Can you rephrase?

[2018-05-17 00:59] paulZzhang commented on #71
How to config the launch.json in VSCode editor
`{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "node",
      "request": "launch",
      "name": "DEBUG",
      "program": "${workspaceFolder}\\app.js"
    }
  ]
}`
![image](https://user-images.githubusercontent.com/38898036/40151107-8a001120-59b0-11e8-8da8-1129bca011b1.png)

[2018-05-17 07:52] delvedor commented on #71
I'm sorry, but I'm not a VSCode user, so I can't help you.
cc @jsumners @StarpTech

[2018-05-17 11:58] paulZzhang commented on #71
@jsumners @delvedor  If I don't use fastify-cli, I can debug.

[2018-05-17 13:14] delvedor commented on #71
@paulZzhang I don't understand your question.
`fastify-cli` does two things, bootstraps a new project with `fastify generate` or run an existing project (generated with `fastify-cli`) with `fastify start`.
You can run `fastify help <command>` to know more.

[2018-05-17 13:16] paulZzhang commented on #71
@delvedor  I see.

[2018-05-17 13:16] #71 closed

[2018-05-24 07:03] greenkeeper[bot] opened #74 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.9** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Fsinon-5.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>
  </

[2018-05-24 07:04] mcollina commented on #74
not an actual regression

[2018-05-24 07:04] #74 closed

[2018-06-11 03:16] zhaoyao91 opened #76 "The short command of prefix and port are the same"

[2018-06-11 07:20] mcollina commented on #76
I think it's just a docs error, in the code they are different: https://github.com/fastify/fastify-cli/blob/master/start.js#L140-L145.

[2018-06-11 07:56] #76 closed

[2018-06-11 08:50] zhaoyao91 opened #79 "lack dependency"
the generated `plugins/support.js` file require `fastify-plugin`, but it is not included in the dependencies of package.json

[2018-06-11 08:58] mcollina commented on #79
Good catch! would you like to send a PR?

[2018-06-11 09:42] zhaoyao91 commented on #79
ok, see #80

[2018-06-11 20:53] #79 closed

[2018-06-27 07:48] snice opened #81 "Can support env configuration for Yaml?"
**.env.yml**
[code]

https://github.com/jrwells/env-yaml

[2018-06-27 19:14] delvedor commented on #81
Currently it does not support it.
I'm not sure if this is something we might want to support, if we decide to support it I would prefer to use a commonly used library, that one you linked is one year old and it does not have many downloads.

Personally I'm neutral to this feature, against if we want to implement it with the module quoted above.

@mcollina?

[2018-06-29 18:30] lgertel opened #83 "PM2"
It's possible to use PM2 with fastify-cli?

[2018-06-30 07:13] mcollina commented on #83
I think so, you might want to try `pm2 start ./node_modules/.bin/fastify start app.js`

Let me know how it goes!

[2018-06-30 07:16] mcollina commented on #81
I'm not fond of adding that module to our dependency tree, nor to add the full Yaml parser to our dependencies. However, I might be ok in having a peer dependency for it.

[2018-07-05 09:17] jafri commented on #83
I get the error

[code]

[2018-07-05 09:19] mcollina commented on #83
@lgertel would you mind adding some instructions in the README on how to use fastify-cli with pm2?

[2018-07-06 02:03] jafri commented on #83
@igertel still not sure how to run with pm2

[2018-07-06 02:05] jafri opened #84 "Middleware"
How do we use the CLI with https://github.com/fastify/middie?

[2018-07-06 13:18] mcollina commented on #84
Can you make an example? fastify-cli only supports only fastify plugins, not barebone middlewares.

[2018-07-06 13:19] jafri commented on #84
[code]

[2018-07-06 13:29] mcollina commented on #84
@jafri middie is an internal dependency of Fastify. fastify-cli does not support that use case.

[2018-07-06 13:29] #84 closed

[2018-07-06 13:30] jafri opened #85 "Migration"
Can we have an example to move a fastify-cli app to standard fastify

[2018-07-06 13:32] mcollina commented on #85
This should work:

[code]

[2018-07-06 22:50] mcollina commented on #83
@jafri `pm2 start 'fastify start app.js'` works for me.

[2018-07-16 09:04] mcollina opened #87 "start: default to process.env.PORT if present"
Seems a good thing to add!

[2018-07-16 09:06] delvedor commented on #87
Should take precedence over `FASTIFY_PORT` or the args?

[2018-07-16 09:08] mcollina commented on #87
It should be at the lowest precedence level.

[2018-07-25 21:52] benhalverson opened #89 "Getting started with a new project"
Expected
`fastify generate` creates a new project as the docs state.

Actual result
[code]

The workaround is to create a package.json file first in directory your project will be in
`npm init -y`

[2018-07-26 08:43] delvedor commented on #89
As [documented](https://github.com/fastify/fastify-cli#generate) `fastify generate` expects that the `package.json` is already created, so this is not an issue.

@mcollina should we think about create the `package.json` is is not present?
In which case probably we should also create the directory.

[2018-07-26 13:02] lgertel opened #90 "Call decorator inside listen."
Hello everyone.
I think that without cli is possible to call a decorator inside the .listener method to start the server.

Is this possible with cli?
Ty!

[2018-07-26 13:06] delvedor commented on #90
Hi! The cli calls the `listen` method internally.
If you need to do something custom inside `listen` you should not use the cli.
Otherwise, you can try with the [`ready`](https://www.fastify.io/docs/latest/Server-Methods/#ready) method.

[2018-07-26 13:06] #90 closed

[2018-07-26 13:45] lgertel commented on #90
@delvedor great!
It's possible to call a decorator inside it then? Something like this:
[code]

[2018-07-26 13:46] delvedor commented on #90
Yes!

[2018-07-26 13:54] lgertel commented on #90
@delvedor
[code]

Not sure what I'm doing wrong
[code]

[2018-07-26 13:58] delvedor commented on #90
If you have registered `retrieveRoutes` inside another plugin you should use the fastify instance given by `ready` in the callback:
[code]

[2018-07-28 04:53] gaogao1030 opened #91 "how to reload file when file was edtied?"
The purpose in dev is useful,  could add -w options to watch files like nodemon.

[2018-07-29 17:41] mcollina commented on #91
Would you like to send a PR? It’d be very useful indeed!

[2018-07-30 15:05] gaogao1030 commented on #91
@mcollina https://github.com/fastify/fastify-cli/pull/92.

[2018-08-24 11:38] cemremengu opened #94 "Consider removing linter tasks from the generated project"
Currently the cli generates a project with the `standardjs` linting. However, most people is probably using eslint (I suppose). So I believe that the cli should support one of the following:

a) A generator option with eslint config  (maybe just use airbnb preset)
b) A bare and unopinionated generator in terms of linting (Simpler)

[2018-08-24 11:53] mcollina commented on #94
I do not think we should add options. The moment we start adding options we will get:

- choice of linter
- choice of testing framework
- choice between callbacks and async/await
- choice of database
- choice of template engine
- ...

The generator _is_ opinionated. It is how @delvedor and myself (and possibly others from @fastify/fastify) think an application should be structured. You can structu

[2018-08-24 12:08] cemremengu commented on #94
Yes, you are right. One of the things I like about fastify that it is not bloated so definitely not a fan of the choice tree you mentioned.

By unopinionated, I only mean the linting choice of  `standardjs` in the generated project. I can imagine many people editing/changing `standardjs` parts in `devDependecies` and `scripts` after creating the project.

Since linting is purely based on choice at

[2018-08-24 12:16] mcollina commented on #94
This is interesting, ok!

@delvedor what do you think? It might be good to do!

[2018-08-24 12:29] delvedor commented on #94
I agree that directly add `standard` as a dependency is opinionated, but if we make it optional, what about the generated code? It follows standard's rules.

[2018-08-24 12:42] mcollina commented on #94
I would keep the code as it is right now.
Il giorno ven 24 ago 2018 alle 14:29 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2018-08-24 13:12] cemremengu commented on #94
I think having the code following standard's rules should be fine, formatters/linters can change them automatically.

After all, you need to be opinionated on the generated code based on the rule set of choice. There seems to be no other way.

[2018-08-24 17:32] allevo commented on #94
I'm 👎 to remove.
`standard` as a dependency is opinionated as the generated project structure is.
If `generate` command reflects what we (???) suggests, the linting script should be included too.

Anyway I'm not blocking

[2018-08-24 21:08] cemremengu opened #96 "Watch does not restart the process once it crashes"
Message says the process is crashed and waiting for changes to restart however nothing happens after changes. Seeing the comments here, is this a WIP feature? I am using node v8.11.3 on windows 10.

[code]

[2018-08-25 15:04] mcollina commented on #91
Fixed in #92

[2018-08-25 15:04] #91 closed

[2018-08-25 17:16] jsumners commented on #94
I think that if you have strong opinions about project structure, which includes the linter used, then a third party code generator is not for you.

[2018-08-25 17:50] mcollina commented on #94
I think removing the default linter is good. I've used this in several workshops, and the vast majority of the attendees struggled _a lot_ with the linter.

[2018-08-26 10:41] delvedor commented on #94
Same here, the `lint` script was added specifically for this purpose, but it didn't help too much.

[2018-08-26 10:42] mcollina commented on #94
This is landed in #95.

[2018-08-26 10:42] #94 closed

[2018-08-26 10:42] mcollina commented on #87
This was implemented in #88.

[2018-08-26 10:42] #87 closed

[2018-08-26 10:43] #65 closed

[2018-08-30 10:35] greenkeeper[bot] opened #101 "An in-range update of standard is breaking the build 🚨"
## Version **12.0.1** of **standard** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Fstandard-12.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/standard/standar

[2018-09-01 15:54] #101 closed

[2018-09-02 14:42] #44 closed

[2018-09-02 14:43] mcollina commented on #96
It should work correctly, even on windows. Would you like to send a PR?

[2018-09-03 10:15] #85 closed

[2018-09-04 20:26] #96 closed

[2018-09-28 10:38] clarkorz opened #110 "some env variables doesn't work"
Three env variables `FASTIFY_PRETTY_LOGS`, `FASTIFY_OPTIONS`, `FASTIFY_WATCH`  doesn't work. they will be override by default values.

[Related code](https://github.com/fastify/fastify-cli/blob/master/start.js#L103):
[code]

[2018-09-28 11:18] mcollina commented on #110
Would you like to send a PR to fix this?

Il giorno ven 28 set 2018 alle 12:38 Clark Wang <notifications@github.com>
ha scritto:

[2018-10-12 19:46] cemremengu opened #112 "Tests are failing on windows"
Most tests are failing for me due to comparison errors like

[code]

The expected stuff is coming out garbled. I am suspecting `\r\n` situation but I couldn't figure out the reason so shamelessly posting here. 😄

Any ideas?

[2018-10-12 20:35] mcollina commented on #112
We’ll just have to fix things, and maybe add Windows testing as well so we
do not regress.

Il giorno ven 12 ott 2018 alle 12:46 Cemre Mengu <notifications@github.com>
ha scritto:

[2018-10-12 21:09] cemremengu commented on #112
Maybe enable appveyor on all repos?

[2018-10-16 07:15] mcollina commented on #112
I think we should try Travis Windows support here: https://blog.travis-ci.com/2018-10-11-windows-early-release. WDYT?

[2018-10-16 08:45] cemremengu commented on #112
Agreed, looks good!

[2018-10-16 20:58] #112 closed

[2018-11-03 12:46] cemremengu commented on #89
Landed in #114 (v0.25.0)

[2018-11-03 12:46] #89 closed

[2018-11-03 12:56] cemremengu opened #119 ".gitignore is not copied when using the cli"
During testing or when running `node ..\cli.js generate` directly, the `.gitignore` file is copied just fine. However,

does not copy/generate the `.gitignore`

Any ideas?

[2018-11-03 13:06] cemremengu commented on #119
looks like it should be `__gitignore`

[2018-11-06 18:27] nahtnam opened #122 "How do I do Error Reporting?"
Hello!

Currently, I am trying to set up Sentry with my fastify server. I am doing the following:

[code]

However, I noticed that adding this makes the server not respond to the requests. I was wondering if it were possible to add this `captureException` line but also respond to fastify in the default manner?

[2018-11-06 19:02] delvedor commented on #122
Hi! You should also call `reply.send(error)`, that API is meant to update the error if needed.
What you need will land in Fastify v2 :) https://github.com/fastify/fastify/pull/1236

[2018-11-06 19:02] #122 closed

[2018-11-06 19:19] nahtnam commented on #122
Awesome, thank you!

[2018-11-06 19:32] nahtnam commented on #122
@delvedor One more question, do you know how to get the status code in the setErrorHandler function? I would only like to report errors in the 500 range.

[2018-11-09 08:57] delvedor commented on #122
You can access it from `reply.res.statusCode` :)

[2018-11-14 18:27] witkwski opened #124 "Default test paths for the template"
If Fastify assumes the recursive folder structure, why wouldn't change the default test paths from `tap test/*.test.js test/*/*.test.js test/*/*/*.test.js` to `tap test/**/*.test.js` for the template, because it ignores nested plugin/service folders

[2018-11-14 20:41] cemremengu commented on #124
It does not look like it's ignoring them but I agree that is more concise
[code]

[2018-11-16 16:04] NemoAlex opened #127 "Error when .env set bodyLimit"
[code]
Looks like dotenv converted it to a string.

[2018-11-16 16:13] mcollina commented on #127
Ouch, would you like to send a PR?

[2018-11-16 16:44] #124 closed

[2018-11-17 16:33] #127 closed

[2018-11-17 16:36] cemremengu commented on #127
@NemoAlex Landed in `v0.25.4`

[2018-11-19 15:54] fox1t opened #131 "Support for TypeScript template and eject command"
Hi, guys. It will be nice to include in fastify-cli support for TypeScript projects.
In order to generate a TS  project we need to change some of the current fastify-cli's commands and to add one new:
 * `start`       start a server -> here we can add support for .ts files  (auto-discover file extension), add default tsconfig.json file with default compilation rules and use ts-node with inline sou

[2018-11-19 16:13] delvedor commented on #131
I'm not sure you can do `-ts`, as it should be read as `-t -s` by the parser.

This means that you should "eject" the app everytime you need to deploy to production? If so I don't like it too much, it feels more complex than it should be.

`fastify-cli` is intended to work both on prod and development, and it should continue to do so in my opinion.

Can you post an example?

[2018-11-19 16:19] cemremengu commented on #131
Sounds very nice actually! Currently we do eject manually (see README) so that would be a nice feature to have as well.

I would be happy to review a PR as long as it doesnt break current functionality for javascript.

[2018-11-19 17:23] mcollina commented on #131
I'm +1 on adding support for ts.

[2018-11-19 17:30] cemremengu commented on #131
My comment is gone I think I deleted it mistakenly on the phone but I am +1 as well.

[2018-11-19 20:40] delvedor commented on #131
I'll go with `--typescript` :)

Maybe `npm run dev` could use `ts-node`, while `npm start` is prod only.
I'm not entirely sure that we would need eject to run the project even with typescript.

Regarding the `debug` script we remove the default linter (the old `npm run lint` command) because it was too opinionated, I fear this script could fall in the same category.

I didn't say this in my first

[2018-11-21 10:49] fox1t commented on #131
Which nodejs versions are we targeting here? I need to know to set a correct default build target for TS.

[2018-11-21 10:50] delvedor commented on #131
Node 6+

[2018-11-21 10:59] fox1t commented on #131
The default will be "es2016". I'll update docs to mention that if node version is 8+ it is safe to put TS target to "es2017" and if it is 10+ "es2018" can be used.

[2018-11-22 08:36] cemremengu opened #134 "chore(test): Add tests for test script path"
See #125

[2018-11-22 13:37] mcollina commented on #134
I don't understand. Can you please clarify?

[2018-11-22 13:40] cemremengu commented on #134
@mcollina based on this comment https://github.com/fastify/fastify-cli/pull/125#issuecomment-440567259

[2018-11-23 21:13] patrickcurl opened #136 "/usr/bin/env: ‘node\r’: No such file or directory"
Installed globally via NPM and Yarn, same issue.
When I run any fastify command I get the error:
/usr/bin/env: ‘node\r’: No such file or directory

Arch Linux (Antergos)
Node: 10.11.0
Yarn: 1.12.3
NPM: 6.4.1

[2018-11-23 21:20] patrickcurl commented on #136
k, I found a fix..  appears it's the space between #! and /usr/bin/env node ...
I submitted a pull request to fixt hat... https://github.com/fastify/fastify-cli/pull/137

[2018-11-23 21:34] cemremengu commented on #136
Can your problem be this https://askubuntu.com/a/1053068 ?

@mcollina do we really need this line?

[2018-11-23 21:37] patrickcurl commented on #136
I don't think that's my issue, namely because I use NVM, and node is in my path... but maybe fastify somehow goes outside nvm's shims trying to find a different node to use? I'm not 100% on how that works specifically... .. I mean I can use node -v and if I just clone the project, and run node cli.js -- it throws the same error, if I run it after removing the space, then it works fine.

[2018-11-23 22:07] cemremengu commented on #136
I see, thanks for investigating. I was just trying to find out if there was some other cause for it.

[2018-11-23 22:13] cemremengu commented on #136
@patrickcurl thank you for the PR! I will be patching this on npm in an hour

[2018-11-23 22:13] #136 closed

[2018-11-23 22:17] patrickcurl commented on #136
Sure no problem... glad to help.

[2018-11-30 10:56] #134 closed

[2018-12-02 15:38] lynxionxs opened #138 "Error: /usr/bin/env: ‘node\r’: No such file or directory"
When installing the cli via npm, ```sudo npm install fastify-cli --global``` and running ```fastify generate``` i get the following error ```/usr/bin/env: ‘node\r’: No such file or directory```
What is wrong?

OS: Ubuntu 18.04
NPM VERSION: v5.4.2
NODE VERSION: v8.7.0

[2018-12-03 09:36] bhavayAnand9 opened #142 "error while installing"
I was installing fastify globally and at the end, it looks like it got installed successfully but there are some errors logs in between.

[code]
node version: 11.1.0
npm version: 6.4.1

Thanks

[2018-12-03 10:13] cemremengu commented on #138
@lynxionxs can you try the latest patch to see if that resolves your issue? (v0.26.2)

[2018-12-03 11:23] mcollina commented on #142
I think it's all ok.

You should not install fastify-cli with sudo.
You should fix your npm paths, use nvm, or use npx.

[2018-12-03 11:42] lynxionxs commented on #138
@cemremengu i reinstalled and its working fine now. Thanks

[2018-12-03 11:44] cemremengu commented on #138
Thanks for letting us know!

[2018-12-03 11:44] #138 closed

[2018-12-03 12:36] bhavayAnand9 commented on #142
Thanks, @mcollina @cemremengu. As fastify is working just fine so closing this issue now.

[2018-12-03 12:36] #142 closed

[2018-12-25 12:12] udomsak opened #146 "Schema check not working ?"
I try to write new simple plugin intend for routing and function process, But when i add schema check it does not happen ( no effect with routing )

What going wrong ?

code below i want to check parameter post ( require )

[code]

[2018-12-25 13:37] cemremengu commented on #146
What I meant is the name of the option is `schema` so it should be given as `{schema: post_schema ...`. see below:

[code]

[2019-01-02 10:22] #146 closed

[2019-01-02 15:07] iam-pawat commented on #71
![image](https://user-images.githubusercontent.com/2102694/50597447-0a4d2c80-0eda-11e9-89e7-ebd096493cc8.png)
@paulZzhang You run your app and run debug. vs code will display process picker. you can choose your target running process what you want

[2019-01-09 16:09] piranna opened #147 "CORS support"
Could it be possible to add a flag to enable CORS support? Does it makes sense, or is there any other way to have CORS support with fastify-cli? Is it only possible to have CORS support by creating an ad-hoc server?

[2019-01-09 16:21] mcollina commented on #147
Can you please articulate your use case a bit more? Why do you need this? Normally plugins are added as dependencies and loaded with `register`.

[2019-01-09 18:37] piranna commented on #147
I created the server with `fastify generate` and just wanted to not opt-out to have a standalone server, but instead to use `fastify start`, nor add server specific code to the plugins. Later I remember about the `app.js` file that I totally forgot, so the plugin can be added there. The problem I'm having now is that `fastify-cors` is not working for me. This is my `app.js` file:

[code]

[2019-01-09 19:32] mcollina commented on #147
The above should work for you, how is that not working for you?

[2019-01-09 22:04] piranna commented on #147
I still get cors errors in browser. Not sure if related to being using localhost...

[2019-01-09 22:06] mcollina commented on #147
Can you reproduce the problem with just fastify and fastify-cors?

[2019-01-09 23:00] piranna commented on #147
Do you think it could be related to the usage of fastify-sse and/or doing the request from an EventSource?

[2019-01-09 23:23] mcollina commented on #147
that might be related

Il giorno gio 10 gen 2019 alle 00:00 Jesús Leganés-Combarro <
notifications@github.com> ha scritto:

[2019-01-10 10:05] piranna commented on #147
Lefting just only fastify and fastify-cors is still happening:

[code]

The response was a 400 error because parameters where wrong, and by removing their `pattern` from the parameters validation, now CORS is working correctly. Maybe `fastify-cors` is not adding the CORS headers when schema validation fails?

[code]

[2019-01-10 10:10] mcollina commented on #147
You are trying to access localhost:3000 from localhost:3001, which is a violation of the default cors policies. Is your UI running on localhost:3001? You should just disable cors in development.

[2019-01-10 10:10] #147 closed

[2019-01-10 10:14] piranna commented on #147
Yes, that's on purposse, I have server running in 3000 and a SPA served from 3001, that's why I need cors here.

At least now is working, but with schema validation disabled, if I enabled it again `fastify-cors` fail to send the cors headers. I'll try to investigate on that later if you don't have a clue about this.

[2019-01-10 11:00] piranna commented on #147
Finally found the problem. `fastify-cors` 1.0 uses the `preHandler` hook, while 2.0 uses `preValidation`, but requires to use `fastify` 2.0.0-rc.3. After upgrading the dependencies (and changing version compatible in `fastify-sse`) now CORS headers are send also when validation fails.

[2019-01-26 08:23] meotimdihia opened #149 "Watch mode crash when start server if we use fastify-nextjs"
Watch mode crash when start server if we use the fastify-nextjs plugin.

[2019-01-26 08:32] meotimdihia commented on #149
I think the two is incompatible in this case:
![conemu64_2019-01-26_15-29-11](https://user-images.githubusercontent.com/300961/51784681-3bd6b200-217f-11e9-839b-49ae2057d6d0.png)

(My code is working if I remove --watch option.)

[2019-01-26 08:33] mcollina commented on #149
I think you have to exclude some temp directory of nextjs with `--ignore-watch=`

[2019-01-26 08:37] meotimdihia commented on #149
After I ignoring .next directory, it's working now. Thanks :)

[2019-01-26 08:37] #149 closed

[2019-01-26 15:03] meotimdihia commented on #71
Awesome, thanks for solution @iam-pawat.

[2019-01-30 10:11] simov opened #151 "Environment variable FASTIFY_WATCH is not honored"
The reason why is because `require('dotenv').config()` is not called inside the `start()` function, and therefore

[code]

is never true, unless there is an actual CLI argument set for it.

Unfortunately putting `require('dotenv').config()` on top of the `start()` function breaks your test suite. So probably there is something else going on that I'm not aware of.

---

My `.env` file looks like th

[2019-01-30 10:31] cemremengu commented on #151
Yes looks like this is a bug, I will look into it as well. Feel free to send a PR if you come up with a solution in the meantime.

[2019-01-30 17:06] #151 closed

[2019-01-30 17:11] cemremengu commented on #151
See `v0.27.1`

[2019-03-05 09:14] compasss opened #159 "prefix register twice"
I'm create project by this command: `fastify generate test`
and start project by `fastify start -l info -P -w app.js -r /chat-api `

fastify-cli file start.js line 129 register fastify  _routePrefix
[code]
fastify-autoload options config register prefix again

i have to access app by this url http://127.0.0.1:3000/chat-api/chat-api/example
what i need is http://127.0.0.1:3000/chat-api/example

[2019-03-05 11:54] Eomm commented on #159
Could you just remove `-r /chat-api` from `fastify start` commands?

[2019-03-05 12:05] compasss commented on #159
change app.js file and remove `-r /chat-api` from fastify start commands solved problem。
[code]

[2019-03-05 12:05] #159 closed

[2019-03-16 13:06] davidedantonio opened #161 "a new fastify app generator?"
Hi all,
I've created a Fastify app generator inspired to this wonderful project and I called it [create-fastify-app](https://github.com/davidedantonio/create-fastify-app). Create Fastify App can help a programmer to generate or add plugin to a Fastify project. For now I added these functionalities:

- Generate a Fastify Project, also from a given swagger file.
- Generate a service skeleton in exis

[2019-03-16 13:14] mcollina commented on #161
I think it would be extremely helpful for the community. I’m not sure how to recommend this because we have a generator in fastify-cli.

What do @fastify/fastify think?

[2019-03-16 13:58] Ethan-Arrowood commented on #161
FWIW I’ve also been working on a fastify app generator (ethan-arrowood/Matterhorn),  but mine focuses on TypeScript and additional JS app tooling.

Maybe we can start a list of Fastify app generators? List the features for each one so the users can pick whichever best suited their developer needs

[2019-03-17 21:33] Eomm commented on #161
This is a good idea, maybe this could help devs to adopt fastify or build and share news plugins.
I love feature-tables: clear and intuitive.

[2019-03-18 16:57] evanshortiss commented on #161
👍 sounds great, in the future I'd imagine it might be nice to have a standard (like `create-react-app`) based on whichever is favoured by the community?

[2019-03-19 09:37] temsa opened #162 "More control over logging"
@mcollina It seems that we currently need to `eject` if we want more control over the logger, e.g.:
- [ ] force the pino logger instance so we can use the logger out of fastify context
- [ ] set our own configuration, notably what to `redact` or serializers

It could be great if that would not be necessary ( an env var for loading a module exporting the logger could be enough, and some example in

[2019-03-25 09:10] mcollina commented on #162
I think having this would be amazing. I've tagged it as "good first contribution", if there is somebody that would be willing to work on it sooner than what we could provide.

[2019-04-17 16:36] greenkeeper[bot] opened #166 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.1` to `7.3.2`.

🚨 [View failing branch](https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Fsinon-7.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not br

[2019-04-17 19:03] Eomm commented on #166
Only Node 6 on Windows is failing with:

It seems that it is not related to sinon

[2019-04-17 19:11] Eomm commented on #166
Wrote to Travis help center:

[code]

[2019-04-18 20:28] Eomm commented on #166
It was only a timeout downloading Node.js 6:
https://travis-ci.community/t/nvs-add-6-download-error/3050

[2019-04-19 07:55] tranzwalle opened #168 "error occurs when writting files inside application directory with 'fastify start --watch'"
I writting a file under the appliction directory, like 'cache/filecache.json',
and start the application with command 'fastify start --log-level info --pretty-logs app.js'.
If the file was changed, an error will show in terminal, "[fastify-cli] process forced end"

of course, this error can be avoided by '--ignore-watch'.
But when I use nodemon, there's no such error, so I submit this

[2019-04-19 08:01] tranwalle commented on #168
<img width="386" alt="fastify-cli-err" src="https://user-images.githubusercontent.com/8072111/56414187-60dd4b80-62bc-11e9-8eb9-d1bc6c28c6fb.png">

[2019-04-19 08:54] mcollina commented on #168
Ouch! Would you like to send a PR to fix this?

[2019-04-19 09:31] tranwalle commented on #168
OK, it maybe take times, I haven't read the source code.
As a new user of fastify, I think 'fastify-cli' shoud be simple and can be integrated with other awesome tools.  How about let PM2 and nodemon to take over the feature of '--watch'

[2019-05-10 08:45] greenkeeper[bot] opened #176 "An in-range update of update-notifier is breaking the build 🚨"
## The dependency [update-notifier](https://github.com/yeoman/update-notifier) was updated from `2.5.0` to `2.6.0`.

🚨 [View failing branch](https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Fupdate-notifier-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

update-notifier is a direct depen

[2019-05-10 19:28] Eomm commented on #176
Closing, update-notifier 2.6.0 has been deleted:

https://github.com/yeoman/update-notifier/issues/157

[2019-05-10 19:28] #176 closed

[2019-05-19 00:19] #166 closed

[2019-06-12 13:20] rkorrelboom commented on #131
Hi @fox1t,

Is there any news regarding this feature? I'm also exploring the options regarding this feature but if I could expand on any previous work it would make my life a lot easier :-)

So far I've managed to add a `--typescript` argument to the generate command and I'm able to run a generated typescript project with `ts-node`. I'm currently running into some issues with `fastify-autoload` an

[2019-06-13 07:02] fox1t commented on #131
Hi @rkorrelboom, unfortunatly i never found the time/excuse to work on this. :(
However it is great that you are implementing such a nice feature! I think that it is better to not use fastify-autoload. Supporting both, dev and prod, was also one of the major point of pain that I found, working on this.

[2019-06-14 14:52] mcollina commented on #131
I think we should find a good typescript story for autoload, and then tackle this one. I don’t see much benefit of this structure without autoload.

[2019-06-18 12:21] siddiquiehtesham opened #180 "Where must I register any module ?"
I am trying to use fastify-formbody and I am using it as a standalone server by adding the server.js files as mentioned in the fastify-cli docs.
I tried to register fastify-formbody in app.js as well as server.js but i always get null in the request.

[2019-06-18 16:39] mcollina commented on #180
Would you mind uploading a full snippet?

[2019-06-18 17:20] siddiquiehtesham commented on #180
Oops it seemed to be a mistake I was accessing it in a GET Method request.
Now it works properly as I am using POST method request.

[2019-06-22 08:48] Eomm commented on #180
Closing since it is solved now

Feel free to reopen if needed

[2019-06-22 08:48] #180 closed

[2019-06-22 17:36] jamesgeorge007 opened #181 "Throws error on providing a file that doesn't exist with start command"
`fastify start <file>` throws an error if the respective file doesn't exist:-

![Screenshot from 2019-06-22 23-02-21](https://user-images.githubusercontent.com/25279263/59967020-2acd7980-9542-11e9-934b-581a3e98475d.png)

It seems that this was intentional as from:-
 https://github.com/fastify/fastify-cli/blob/f8ca00c1066c779b822b315a07162098fe41b161/start.js#L91

IMO it is good to warn the user ap

[2019-06-22 17:37] jamesgeorge007 commented on #181
@mcollina I would submit a PR if this makes sense to you.

[2019-06-22 17:56] mcollina commented on #181
Go for it!

Il giorno sab 22 giu 2019 alle ore 19:37 James George <
notifications@github.com> ha scritto:

[2019-06-27 07:28] mcollina opened #183 "Switch the generated project to use async/await by default"
As titled, Node 6 is deprecated, so we do not have to support callbacks anymore.

This would be a semver-major change.

[2019-06-27 11:39] xtx1130 commented on #183
I will make `generate.js` and `generate-readme.js` export promisify `generate`

[2019-07-05 12:04] mcollina commented on #131
fastify-autoload now supports typescript, so we can add a typescript template here if we want to. Would you like to send a PR?

[2019-07-05 12:38] jimmiehansson commented on #26
Moving args into a separate construct seems rationale, that would benefit deprecation and legacy changes in the future

[2019-07-09 14:00] #181 closed

[2019-07-16 19:44] siddiquiehtesham commented on #68
Is there an example to deploy the microservices in the services directory independently with any lambda functions ?
What platform must be ideal for it or of it is any platform how do we do that because we use some plugins from the plugins directory. So it seems a bit difficult to think about deploying it.

[2019-07-30 17:49] RafaelGSS opened #191 "Maybe add Mocks inside tests/helper"
Hello everyone.

I created some projects with `fastify-cli` and most of them use simple "mocks". I bootstrapped the "mocks" inside build of the project, maybe add the mock function inside `helper.js` can help someone.

Example with `fastify-mongodb`:
[code]

So, for add, just add it inside the project:
[code]

What do you think about it?  Bad usage? I created it because not need many configuration

[2019-07-31 08:07] xtx1130 commented on #191
I am a bit confused about why you need to mock `fastify-mongodb` 's apis?

[2019-07-31 14:33] RafaelGSS commented on #191
Just basic test inside routes without connection with the database. Insert/Select just returns and not throw an error, if the CI Pipeline that running the tests did not have knowledge of connection.

[2019-07-31 14:35] RafaelGSS commented on #191
But, my idea is just add it inside `fastify-cli/tests/helper.js`:

[code]
And update build()

[code]

[2019-08-01 06:16] mcollina commented on #191
I prefer to use real databases if I can control.. testing against mocks
does not make me much certain that the app would work in the real word. I
test with mocks to check error paths that are hard to check and verify with
a real db.

Il giorno mer 31 lug 2019 alle 16:35 Rafael Gonzaga <
notifications@github.com> ha scritto:

[2019-08-01 08:32] xtx1130 commented on #191
I'm -1 of it. If you mock db, It will cause you can't test your sql statements. Otherwise, if you need to test your routers, you can use `app.inject` to achieve it. If your need to contain db inside routers, use mock db can not ensure the real db connection and sql statements

[2019-08-01 11:26] RafaelGSS commented on #191
Sure, I understand and think that I wrote wrong about my suggestion of feature.

Is just add the `mocks` function for anyone that need uses any mock (Sinon, etc...)

But, for now, maybe write the `mocks` (if necessary) inside "test" scope for each test is better.

Thanks all.

[2019-08-01 11:26] #191 closed

[2019-08-06 11:57] greenkeeper[bot] opened #192 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.2` to `7.4.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Fsinon-7.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not br

[2019-08-11 09:13] StarpTech opened #194 "Use oclif as cli framework"
Hi,
I have very good experiences with https://oclif.io/ it allows to build modular cli applications. All the common tasks like help generation, command/sub-command abstraction, flag, argument parsing or even a plugin architecture is already abstracted in a nice interface.

Some real-world examples:

- https://github.com/heroku/cli
- https://github.com/netlify/cli

It will reduce the burden to get

[2019-08-12 07:42] xtx1130 commented on #194
I have taken a look about the examples, but I didn't find more info about how to write test cases when using `oclif`.

[2019-08-12 07:48] StarpTech commented on #194
Check out the official docs and at the end you can write tests as usual. Commands be run programmatically.

[2019-08-12 09:02] mcollina commented on #194
I'm kind of +1 for this. I think the current set of features this provides us is a bit _too simple_ for what we actually need.

Do you plan to use TypeScript or JavaScript @StarpTech?

@jsumners what do you think?

[2019-08-12 09:09] StarpTech commented on #194
Personally, I prefer Javascript but for the community Typescript could be a valuable option. WDYT?

[2019-08-12 09:10] mcollina commented on #194
I'm happy to stick with JavaScript.

[2019-08-12 11:06] jsumners commented on #194
I don’t know anything about `fastify-cli`. My opinion would be useless here.

[2019-08-12 12:30] xtx1130 commented on #194
I'm +/-0 of it, I didn't find any unit tests about files in `commands` folder. All the test cases are  requesting interfaces and relate it to one command. It can't ensure the `run` method can run correctly in `Command` class. But I think it's base class `Command ` is what we needed.

[2019-08-12 13:07] StarpTech commented on #194
@xtx1130 for example:
1. Run command
[code]
2. Mock stdout/stderr with [stdout-stderr](https://github.com/jdxcode/stdout-stderr)
3. Verify http calls with [nock](https://github.com/nock/nock)

- [@oclif/test](https://github.com/oclif/test)

[2019-08-13 03:26] xtx1130 commented on #194
@StarpTech Ops... I have understand what the test cases mean. [`.command(['foo:bar'])`](https://github.com/oclif/test/blob/master/test/command.test.ts#L11) means `require(./src/commands/foo/bar).run`. I think it is a bit difficult to understand for contributors.
 Kind of +1. I like [@oclif/command](https://github.com/oclif/command)

[2019-08-13 08:54] delvedor commented on #194
I'm +1, fastify-cli is growing and the current implementation does not scale well :)

[2019-08-14 10:06] Eomm commented on #194
Great spot!
I'll give it a try also because it could be good for releasify aswell 👍

[2019-08-16 07:24] xtx1130 commented on #194
I have notice that `@oclif/command` needs >=node8. Whether maintainer should create a `next` branch to start refactor it.

[2019-08-23 19:21] piranna opened #198 "`--cluster` flag"
## 🚀 Feature Proposal

Add support for a `--cluster` flag that allow to launch `fastify` using Node.js `cluster` module.

## Motivation

Node.js `cluster` module allow to exec several copies of a script in different processes sharing the same port, so with web servers you can make use of all cores.

## Example

At https://github.com/piranna/clusterify I have some generic code that exec any Node.js

[2019-08-23 19:22] piranna commented on #198
Also, at https://gist.github.com/thearegee/3eea038b9f0c5e94de73f3c3482fa732 there's an example about how to use it natively.

[2019-08-23 19:26] piranna commented on #198
Regarding `clusterify`, I'm able to use it to launch `fastify` CLI with

[code]

[2019-08-23 21:07] Eomm commented on #198
I think that this feature is not in scope for this module because it is in charge to any process manager, usually, with the cluster mode, it is needed also restart of child and logging management plus many other features (scaling, health check)

I used it a lot [pm2](http://pm2.keymetrics.io/) for this kind of needs and have a bunch list of utilities around it. The effort is to write a json file.

[2019-08-23 22:48] piranna commented on #198
Ok, maybe make sense. I was a bit surprised being a launcher of `fastify` servers not having any reference to it, that maybe `fastify` itself didn't support `cluster` at all. At least the command using `clusterify` is doing me the job :-)

[2019-08-24 12:27] Eomm commented on #194
I have used our "default" stack (javascript + tap) to [build a cli](https://github.com/Eomm/kingdis) and I had some [troubles using tap](https://github.com/oclif/oclif/issues/280).
I have done some workarounds to let it works) so I think it will be mandatory to switch to the suggested test suite.

The javascript snippets are missing too, so it took me to dig in the debugger sometimes (typescript s

[2019-08-24 13:04] piranna opened #199 "Plugin need 3 arguments in function, also when returning a Promise"
## 🐛 Bug Report

When using a plugin that export a function that return a Promise, third argument is not needed, but `fastify-cli` refuse to run due to bad signature. It works if using an `async` function, but returning a Promise object is superfluous to define the function as `async`.

## Expected behavior

Being able to use a regular function (two arguments) when it returns a Promise, instead of

[2019-08-24 13:30] StarpTech commented on #194
@eomm I don't understand your problems. Could you describe them one after another in detail? Check the linked issue I think I solve it.

[2019-08-24 13:51] mcollina commented on #199
Would you like to send a PR?

Il giorno sab 24 ago 2019 alle 15:04 Jesús Leganés-Combarro <
notifications@github.com> ha scritto:

[2019-08-24 16:16] piranna commented on #199
I'm trying to do so, but seems to be a bit more complicated than expected. Tests ensure that when using a function it has three arguments, so the point is that it should be tested inside `fastify` that when it has two arguments, it's an `AsyncFunction` or a `Function` that returns a `Promise` object, instead of being checked here, but was not able to find the `register()` function inside `fastify`

[2019-08-26 08:52] xtx1130 commented on #199
@piranna  We can't judge a function's return value before we run it. And `register` is achieved by [`avvio`](https://github.com/mcollina/avvio)

[2019-08-26 09:23] piranna commented on #199
I know, that's why I say this checking should be done there, not on `fastify-cli`.

[2019-08-26 09:26] mcollina commented on #199
@piranna I think we can just remove the check here, the case on why this was added was solved long ago in https://github.com/mcollina/avvio/pull/72

[2019-08-26 12:15] piranna commented on #199
If I understood It correctly, them yes, whe can remove this check.

[2019-08-26 12:24] mcollina commented on #199
Exactly. Would you like to send a PR?

[2019-08-27 14:49] pyxarez opened #200 "Can not run fastify cli in watch mode with node inspector"
## 🐛 Bug Report

Cli is not working in --watch mode with node inspect on the board
It throws the following log: `Starting inspector on 127.0.0.1:9230 failed: address already in use`

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

## Expected behavior

It should work in --watch mode with node inspect on the board

## Your Environment

- *node version*: 10
- *fasti

[2019-08-27 14:51] mcollina commented on #200
This happens because we are forking the project: https://github.com/fastify/fastify-cli/blob/master/lib/watch/fork.js. We might want to do something about this, as it's a rather convenient feature.

Can you do the same with Nodemon for example? How do they implement/support it?

[2019-08-27 15:16] piranna commented on #199
Fixed in #201... although seems the change was already done in `master` in the last days? :thinking:

[2019-08-27 16:17] pyxarez commented on #200
I don't fully understand the question
Yea, I can try to do the same with nodemon, but it requires [migrating](https://github.com/fastify/fastify-cli) from cli, making my own server.js and leads to loss of fastify-cli functionality like logging, default setup, etc.
It will look like this `nodemon --inspect=9230 server.js`

[2019-08-27 16:18] mcollina commented on #200
You answered the question! `nodemon` implements it via a `--inspect` flag. Would you like to send a PR that adds that to fastify-cli as well?

[2019-08-27 16:26] pyxarez commented on #200
Hmm, that's an interesting idea
Yeah, I can try to do that, but I'm new in fastify and I think it'll take some time
If you do not need super fast fix that's the task for me

[2019-08-27 17:04] mcollina commented on #200
Go ahead!

[2019-08-29 02:58] xtx1130 commented on #200
I am sure `child_process.fork()` caused this, you need add options `{execArgv: []}` to `child_process.fork()`

[2019-08-29 12:56] pyxarez commented on #200
@xtx1130 , I tried you suggestion and it's actually work!
But will this not lead to errors in the case when we really want to use execArgv?

[2019-08-29 12:59] pyxarez commented on #200
I admit that that's an internal usage of `fork` and there is no case when someone would like to parametrise that part from outisde

[2019-08-29 12:59] HighSoftWare96 commented on #200
I'm going to make a PR of this if you want... I was able to manage that with `execArgv` parameter and adding a `debug` flag to the CLI.
![image](https://user-images.githubusercontent.com/22793967/63942214-8a2d9580-ca6d-11e9-9f39-b159893d8af9.png)
I'm trying now to use the `debug` flag also without watch mode.

[2019-08-29 13:01] pyxarez commented on #200
@HighSoftWare96 yay! Great news:)
I don't have enough time for it anyway:)
Thank you

[2019-08-30 02:07] xtx1130 commented on #200
@pyxarez

I think it's better to move `execArgv` to `fork`'s `args`.

[2019-09-02 07:03] HighSoftWare96 commented on #200
I think this issue can be closed, don't you @pyxarez ? The initial behaviour can be solved now by using:
`fastify start --watch -l info -P app.js -d --debug-port=9230`

[2019-09-02 08:40] pyxarez commented on #200
Yeah, sure
Thank you all for your help!

[2019-09-02 08:40] #200 closed

[2019-09-25 09:25] MarkQH opened #206 "FST_ERR_CTP_INVALID_MEDIA_TYPE: Unsupported Media Type: text/xml"
## 💬 Questions and Help
#### generate a simple project , npm run dev , when I send a request what content-type is text/xml，the server report an error as "Unsupported Media Type: text/xml".
#### but when i use normal way to start a server as
 `const fastify = require('fastify')({
  logger: true
})
fastify.listen(3000)
`
#### the fastify server can receive request what content-type is text/xml norma

[2019-09-25 13:15] RafaelGSS commented on #206
By default fastify only supports native `application/json` and `text/plain`.

For you case, you can use `fastify-multipart`. See [ref](https://github.com/fastify/fastify/blob/master/docs/ContentTypeParser.md)

[2019-10-03 22:18] francisbrito commented on #162
Is it ok if I have a look at this one?

@temsa @mcollina would something along the lines of `FASTIFY_LOGGING_MODULE=<path_to_logging_module_file.js>` work?

Should the module export an object confirming the "Pino Interface", a function returning a Pino-interface-compatible object or any of the two?

[2019-10-04 12:46] mcollina commented on #162
How about the whole `logger` configuration for the fastify instance? That seems flexible enough.

[2019-10-04 17:15] francisbrito commented on #162
Sounds good, I'll proceed to open a PR.

[2019-10-10 18:45] #162 closed

[2019-10-27 21:13] zuck commented on #168
Same here. Any hint about what could generate this issue?

[2019-10-27 22:54] mcollina commented on #168
No clue, it would be good to have an example, even better a PR with a failing test.

[2019-11-10 21:44] #192 closed

[2020-01-06 17:47] vitalets opened #214 "Generated project does not show error stacktraces even in DEV mode"
`fastify generate` creates npm script `"dev": "fastify start -l info -P app.js"` to run app in development mode. But in that mode no stacktraces are shown in logs:

![image](https://user-images.githubusercontent.com/1473072/71835951-f24b5280-30c3-11ea-850a-a7e1b7ccbf7b.png)

This obviously unsuitable for development.
I've researched `pino-colada` logger and found that it [should show stacktraces](

[2020-01-06 19:02] mcollina commented on #214
I think we should switch to https://github.com/pinojs/pino-pretty. @jsumners @davidmarkclements @delvedor what do you think?

[2020-01-06 19:28] jsumners commented on #214
Sounds reasonable to me. I believe Lrlna has moved on from `pino-colada`.

[2020-01-06 19:30] mcollina commented on #214
Would you like to open a PR for that @vitalets?

[2020-01-07 09:15] vitalets commented on #214
I've checked pino-pretty and frankly speaking it's default output seems not very pretty for me:
1. very verbose
2. error stack is very nested and not colored in red

Compare this screenshot with pino-colada output in my first message:
![image](https://user-images.githubusercontent.com/1473072/71882205-0f743580-3145-11ea-9f63-17d95926aea1.png)

For me personally pino-colada looks more pretty ) Mayb

[2020-01-07 13:30] lrlna commented on #214
@vitalets if you want to make a PR to `pino-colada` to also check for `obj.err.stack`, I'd happily accept it. There is only [one place](https://github.com/lrlna/pino-colada/blob/master/index.js#L112-L115) where the check happens.

[2020-01-09 11:29] vitalets commented on #214
Done!

[2020-01-14 13:39] vitalets commented on #214
Created PR updating pino-colada to 1.5.1.
https://github.com/fastify/fastify-cli/pull/216

[2020-01-22 11:09] mcollina opened #217 "Security vulnerability in the chokidar@2 dependency chain"
## 🐛 Bug Report

chokidar@2 depends on a vulnerable dependency as defined in https://app.snyk.io/org/mcollina/project/77093841-f46e-47c6-ae49-548b8c809106?utm_campaign=weekly_report&utm_source=Project&fromGitHubAuth=true.

Chokidar@3 requires Node 8 as a minimum version.
I've already sent a PR to pino-colada to update it https://github.com/lrlna/pino-colada/pull/33.

## Proposal

I propose we drop

[2020-01-22 11:10] mcollina commented on #217
Note that moving from pino-colada to pino-pretty as defined in #214 solves only part of the problem.

[2020-01-22 11:16] mcollina commented on #217
I've also asked the module to be updated so we do not have the security fix: https://github.com/jonschlinkert/kind-of/issues/33.

[2020-01-22 13:54] mcollina commented on #217
Closing, our dependency tree is not vulnerable at all, the vuln database had the wrong range.

[2020-01-22 13:54] #217 closed

[2020-02-11 21:52] greenkeeper[bot] opened #223 "An in-range update of fastify-autoload is breaking the build 🚨"
## The devDependency [fastify-autoload](https://github.com/fastify/fastify-autoload) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-cli/compare/master...fastify:greenkeeper%2Ffastify-autoload-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fastify-autoload is a devD

[2020-02-11 22:13] Eomm commented on #223
Flacky
https://travis-ci.org/fastify/fastify-cli/builds/649147632?utm_source=github_status&utm_medium=notification

[2020-02-11 22:13] #223 closed

[2020-02-12 06:25] wolfejw86 commented on #131
One thing I noticed when manually refactoring a generated fastify-cli app to typescript is that if certain tsconfig.json properties are present, the `app.js` file gets compiled like so:
![image](https://user-images.githubusercontent.com/22133869/74308548-826d5f00-4d36-11ea-9054-5eeae6a70bec.png)
which causes it to break on line 120 of `fastify-cli/start.js` due to needing to call `file.default` in

[2020-02-17 21:35] zuck commented on #168
It's definitely an issue with big files changing inside the folder the CLI is watching. In my case was a SQLite DB file.

The workaround is the same mentioned above, just use the `--ignore-watch FILE_NAME` option to _fix_ it.

[2020-02-18 17:21] mercteil commented on #57
In case someone landed here -> the merged fix did not help me... `server.listen(port, '0.0.0.0')` did

[2020-02-20 11:25] alemagio commented on #131
Hi, i wanted to use the cli for my own project and found out there is no TS support.
If no one else is working on this I would like to open a PR.

[2020-03-18 14:42] rmiraballes opened #229 "Npm audit fails with severity moderate for minimist dependency"
## 🐛 Bug Report

npm audit failing for fastify-cli   **1.5.0**

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

Produce the following result:
[code]

## Expected behavior

N/A

## Your Environment

- *node version*: v10.14.1
- *fastify-cli version*:1.5.0
- *os*: Mac
- *any other relevant information*: The dependency is failing in **minimist**

[2020-03-18 16:31] mcollina commented on #229
First, consider yourself safe. There is no way this is exploitable in fastify-cli.

I'll try to issue a new release asap to solve this.

[2020-03-19 09:25] #229 closed

[2020-03-19 09:31] mcollina opened #231 "Switch to Github Actions"
As titled.

[2020-03-24 16:28] mcollina opened #233 "Migrate all codebase to async/await"
As titled.

[2020-03-27 14:18] zuck opened #235 "TypeError: stream.on is not a function"
## 🐛 Bug Report

Using the option `-P` for pretty-printing logs seems to generate issues with `pump` since yesterday.

If I remove the option, the app is launched as expected:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Create a new fastify app with the CLI.
2. Launch the app passing the `-P` option to the `fastify start` command.

## Expected behavior

The CLI should start the

[2020-03-27 15:09] Eomm commented on #235
Thanks for reporting, I reproduced it wth:

[code]

To solve:
[code]

[2020-04-02 15:30] ivd opened #237 "Pass fastify server config params via fastify-cli"
How to pass fastify server config parameters via fastify cli? Any doc? Any suggestions?

[2020-04-02 18:43] mcollina commented on #237
fastify-cli heavily relies on dotenv, check it out.

[2020-04-02 19:20] ivd commented on #237
Already checked, but still can't understand, how to pass, for example, parameter maxParamLength

[2020-04-02 21:36] mcollina commented on #237
I don’t think that’s exposed. I think we need to provide some way to set those app-wide settings in a better way.

Have you got any ideas?

cc @Eomm @delvedor

[2020-04-03 13:27] Eomm commented on #237
Is the `--options` flag providing this feature?

This example is in the readme:
[code]

and you should be able to add all the other fastify's options

[2020-04-03 14:05] ivd commented on #237
Yes! This is what I was looking for! Somehow I`am not associated plugins options with server options. Thanks!

[2020-04-03 14:05] #237 closed

[2020-04-30 10:15] dnlup opened #240 "Custom plugin options"
## 🚀 Feature Proposal
I think it could be useful to allow passing custom options to the plugin defined by the `app.js`.
After reading the discussion at https://github.com/fastify/fastify-cli/issues/26 I would like to propose an alternative approach: exposing a `pluginOptions` property in `app.js`, the same way the custom options for Fastify are passed using the `options` property.

## Motivation

[2020-04-30 20:37] Eomm commented on #240
Would `module.exports.pluginOptions = {}` be like `options` to create the Fastify instance, but injected via the cli? or who should be the reader of those options?

[2020-05-01 07:58] dnlup commented on #240
Yes, exactly, and contains specific options for the user app/plugin.

`fastify-cli` would read that object and pass it to the exported function, which in turn will consume it.

**app.js**
[code]
Then **fastify-cli** pass the specified options object to the function
[code]

[2020-05-01 08:26] Eomm commented on #240
I don't understand the benefit from the example above to this one:

[code]

It would be different instead of this usage:

[code]

and app.js

[code]

[2020-05-01 10:12] dnlup commented on #240
Thank you for the feedback and for taking the time to respond to this :pray:

I think that the main benefit is that when writing tests, you decouple app.js and its config. You also might use a separate module for loading configuration when running your app, like [env-schema](https://github.com/fastify/env-schema). In this way, you can export its result value to let the cli inject it if needed, and

[2020-05-01 22:23] mcollina commented on #240
I think adding support for passing in args would be nice.

[2020-05-02 07:53] Eomm commented on #240
The target is clear, I'm not pro to the `module.exports.pluginOptions` because it is `app.js` that loads -using env-schema or other logic- the value of this option and so it is not decoupled: the test must know how `app.js` implemented the loading logic to change the `options`. So it should be a different actor that exposes those parameters.
For this reason, I'm pro to a powerful `--` because the

[2020-05-02 15:22] dnlup commented on #240
I understand your point, and I agree that it should be a different actor. I thought that exposing the options this way would have been more in line with how fastify options are exposed, and I was wrong. Just to be clear, though, I wasn't suggesting using `pluginOptions` in tests, but the opposite. I would have used custom objects without knowing how `app.js` implemented the loading part. Anyway, I

[2020-05-02 17:09] mcollina commented on #240
@dnlup if you want to take over that PR adding args, I think @davidmarkclements would be ok with it ;).

[2020-05-03 07:28] dnlup commented on #240
@mcollina I will work on it then, thanks 🙂

[2020-05-18 13:44] JoHuang commented on #131
Hi, I tried the typescript generator but run into some issues.
Since this issue is not closed yet, so I add comment here.

------
I tried to install fastify-cli by `npm i -g git+https://git@github.com/fastify/fastify-cli.git` to get master branch.
And generated a typescript project by `fastify generate --lang=ts [project name]`.
Here are 2 issues I encountered:
1.
https://github.com/fastify/fastif

[2020-05-18 15:10] alemagio commented on #131
Hi
I'm not a maintainer of the project but I made the PR to integrate TS.

I think that you pointed out the fix for this error, the `start` script should be `npm run build:ts ...`.

If you want to fix it I suggest you to go [here](https://github.com/fastify/fastify-cli/blob/f5e4da5f3b19744bf7a212854faaa359b3a55f1e/generate.js#L48) and simply edit that line and the relative test.

I'll cc @Ethan-Ar

[2020-05-18 15:49] JoHuang commented on #131
@alemagio
I forgot to clarify that the `'plugin must be a function or a promise'` error happened after I edited the line.
So it should be 2 separated issues.

[2020-05-18 15:51] alemagio commented on #131
Probably

[2020-05-18 16:25] JoHuang commented on #131
No, it's the same. Only `fastify start -l info dist/app.js` works.

[2020-05-19 07:46] alemagio commented on #131
Ok, after some debugging I think I got the problem.
I think there is some issue in the `fastify-cli` installed in the generated project because, even if it says the version is `1.5.0` it misses some code (like all the typescript parts).
As a temporary fix (and also validate my hipotesis) please remove the `fastify-cli` package from your `node_modules` and run the start script again.
This way it sh

[2020-05-19 09:18] JoHuang commented on #131
After `npm uninstall fastify-cli`, which means using global one (from GitHub master branch)
`npm start` works
`npm run dev` got a new error.
[code]
BTW I'm using Mac OS X.

[2020-05-19 09:53] alemagio commented on #131
This looks related to the `pretty-logs` option.
I solved by removing the `-P` option from the `dev` script.
It is not a fix off course but at least you can keep working.

[2020-05-19 12:37] JoHuang commented on #131
It works by removing `-P`.

BTW, I recommend add `dist/` to `.gitignore`.

[2020-05-19 13:12] alemagio commented on #131
Thanks for all the advices and glad to be helpful.
:smiley:

[2020-05-19 16:04] alemagio commented on #131
There was already an issue about this.
[Here](https://github.com/fastify/fastify-cli/issues/235)

[2020-05-20 12:37] #240 closed

[2020-05-20 15:47] JoHuang opened #246 "npm run dev in typescript project, watch is not working"
## 🐛 Bug Report

Changed Typescript files cannot be applied.

## To Reproduce

Steps to reproduce the behavior:
1. Use master branch to generate typescript project
2. `npm run dev`
3. change string in example.ts ( server auto restarted )
4. /example response didn't change.
5. I have to ctrl+c to terminate `npm run dev`, run agin to make the change applied.
## Expected behavior
/example response ch

[2020-05-27 04:07] PierBover commented on #57
I think something is broken here.

[code]
When running on regular Node I get `Server listening on http://0.0.0.0:3000` as expected.

But when running in Docker I get `Server listening at http://127.0.0.1:8080` so the server cannot be reached.

Wasn't this PR by @mcollina supposed to add `0.0.0.0` by default when running in Docker?

https://github.com/fastify/fastify-cli/pull/58

It seems now it's

[2020-05-27 06:27] mcollina commented on #57
I do not think you are running your server using fastify-cli. Are you using this module at all?

The snippet above is not from this module.

[2020-05-27 14:12] PierBover commented on #57
Ooops sorry @mcollina I totally missed this wasn't the main Fastify repo.

[2020-05-30 22:36] fvelcker commented on #246
I have a similar issue. I have to make a change a second time to see the first change happening. if I do a third change, I'll see th second, etc.

[2020-05-30 22:55] fvelcker commented on #246
Ah well, sorry, found why... (looks like typing my message rubber ducked me).
`fastify start -w` was running before `tsc` finishes compiling because it detected the change in the `.ts` file.

So I added `--ignore-watch='/src'` as my ts files are in a src folder. So now `fastify start -w --ignore-watch='/src'` restarts only after the files have compiled.

Not sure it is related, but if it helps....

[2020-06-14 12:10] mikeychowy opened #249 "NPM Audit Warning, Prototype Pollution of yargs-parser"
## 🐛 Bug Report

Not actually a bug but an npm audit warning of prototype pollution. Don't know where to best put this so i just choose the bug report.

The warning was for fastify-cli 1.5.0's usage of yargs-parser 16.0.0. Apparently version 16 reintroduced proto pollution.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No prototype pollution warning. Don't know

[2020-06-14 12:17] mikeychowy commented on #249
after looking back at the npm audit screenshot, supposedly yargs-parser patched it
[code]
in those versions, now i'm wondering why npm still issued a warning for it....

[2020-06-14 18:58] mcollina commented on #249
BTW this is not a vulnerability for this module, so don't worry about it. You have more critical vulns if you call this executable with untrusted user input.

It will be fixed in an upcoming release (already is on master)

[2020-06-14 18:58] #249 closed

[2020-06-22 15:16] #231 closed

[2020-07-03 15:48] anthonyringoet commented on #233
See https://github.com/fastify/fastify-cli/pull/253

[2020-07-10 19:33] enix-app opened #254 "Custom config for file/directory watcher"
I think we need custom config for file/directory watcher:

[code]

For example:

[code]
or automatically if watch.js config file exists.

[code]

Example config file:

[code]

[2020-07-10 19:36] #254 closed

[2020-07-10 19:36] enix-app commented on #254
Sorry, I forgot something... :)

[2020-07-27 07:27] iandrc commented on #233
Hey @mcollina

I believe this one could be closed as #253 was merged several weeks ago.

[2020-07-27 07:27] #233 closed

[2020-07-31 15:11] alemagio opened #257 "Multiple decorators tests failure"
## 🐛 Bug Report

Multiple plugins which create decorators are not registered correctly in test environment.

## To Reproduce

See PR #256  .
Consider that the server is working perfectly, only tests fail.

## Expected behavior

Not sure if I am making something wrong or if the template generated by the CLI should be fixed.

## Your Environment

- *node version*: 12
- *os*: Linux
- created a projec

[2020-08-03 20:41] Eomm commented on #257
Solved in https://github.com/fastify/fastify-plugin/pull/95

Thks!

[2020-08-03 20:41] #257 closed

[2020-08-05 08:22] iandrc commented on #183
@mcollina this one could be closed, I guess

[2020-08-05 08:26] #183 closed

[2020-08-05 08:27] mcollina commented on #183
Yes thanks!

[2020-08-07 17:41] tchak opened #258 "fastify routes command is broken with v3 applications"
## 🐛 Bug Report

`fastify routes` command is broken with v3 applications

## To Reproduce

Steps to reproduce the behavior:

[code]

## Stacktrace

[code]

## Your Environment

- *node version*: 12
- *fastify version*: >=3.0.0
- *os*: Mac

[2020-08-08 13:04] mcollina commented on #258
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-06 13:26] Eomm opened #267 "Support ESM modules"
## 🚀 Feature Proposal

Support ESM module

## Motivation

In the node14 the ESM modules will be no longer experimental

## Example

[code]
And then run it with `fastify start demo.mjs`

This feature should:

- load the arg file as ESM when the file ends with `mjs` or the `type` in the package.json is `module`

The watching feature should be updated accordingly.

To support node10, it will be neede

[2020-09-06 17:03] mcollina commented on #267
For whoever takes this, https://github.com/fastify/fastify-autoload has all the necessary examples on how to load _both_ cjs and mjs.

[2020-09-09 16:39] alemagio opened #268 "Generate plugin command"
## 🚀 Feature Proposal

I created [create-fastify-plugin](https://github.com/alemagio/create-fastify-plugin)

I needed a simple tool to create a boilerplate when I wanted to publish my own plugin.
It should be easy to integrate it in fastify-cli.
I would love to do it.

But, off course, if you think this is not out of the project's scope.

[2020-09-09 16:40] mcollina commented on #268
+1 to integrate it!

[2020-09-11 18:08] alemagio commented on #268
PR ready for review.

[2020-09-16 08:33] #258 closed

[2020-09-16 09:57] fox1t opened #271 "Watch test failing with "TypeError: Cannot read property 'close' of undefined""
## 🐛 Bug Report

The test ["should start the server with watch options that the child process restart when directory changed" ](https://github.com/fastify/fastify-cli/blob/master/test/start.test.js#L527), __that is skipped on GitHub Actions__, on local machine trhows uncaught TypeError :
[code]
The problem is [line 23](https://github.com/fastify/fastify-cli/blob/master/lib/watch/fork.js#L23) of `f

[2020-09-17 07:38] fox1t commented on #271
ping @mcollina

[2020-09-17 08:13] mcollina commented on #271
It passes locally!

[2020-09-17 08:16] fox1t commented on #271
Yes, it passes because [this](https://github.com/fastify/fastify-cli/blob/master/lib/watch/fork.js#L30) catches it, but the TypeError is present. Or are you saying that you don't have
[code]
printed in your console?

[2020-09-17 08:21] alemagio commented on #271
I have the same error in console while running tests.
But the tests goes on without failing.

[2020-09-17 08:24] fox1t commented on #271
Nice! It can't failed because of that uncaughtException listener that just exists the child process. The related tests are checking if the process exits and not why it exists. It should exit because there was a restart beacuse of changed files, but instead it exists because of a TypeError.

[2020-09-17 08:26] alemagio commented on #271
Would you mind if I try fixing it?

[2020-09-17 08:28] fox1t commented on #271
Not at all! You can find the fix on the snippet in this issue. However, I want to have this bug confirmed by @mcollina or some other core team member before fixing on it.

[2020-09-17 08:29] mcollina commented on #271
Yes this is confirmed.

[2020-09-17 08:32] fox1t commented on #271
@alemagio go for the fix then! After it gets merge I'll publish a new version since we have 2 PR pending publications.

[2020-09-17 08:54] alemagio commented on #271
The test is skipped on github actions.
Should I remove the `{ skip: onGithubAction }`?

[2020-09-17 09:09] fox1t commented on #271
I don't know why we should skip it on GitHub. The only thing that comes to my mind is because of process forks and watching files. Let's try to push it without skip and see how Actions will handle it! XD

[2020-09-25 15:47] alemagio opened #273 "Use fastify-tsconfig for typescript template"
Make typescript template's ts-config.json extend [fastify-tsconfig](https://github.com/fastify/tsconfig)

PS
I'll work on it if you don't mind

[2020-09-26 14:21] RafaelGSS opened #274 "Some files not shows on coverage"
## 🐛 Bug Report

Based on #269. We discovered that some files (with tests) are not shown on tap coverage, and it's bad because we can forgot to test some branches.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Show a list of coverage on this test. Instead, it shows empty tests like on the image bellow
![image](https://user-images.githubusercontent.com/26234614/9

[2020-09-26 22:47] mcollina commented on #274
I literally have no clue about this.

[2020-09-27 11:05] Eomm commented on #274
The issue here is caused by https://github.com/istanbuljs/nyc/issues/1287

I spotted this issue some weeks ago and for this reason/frustration, I asked ["why?"](https://stackoverflow.com/questions/63850046/why-prefer-es6-import-over-require).

[2020-09-27 15:30] mcollina commented on #274
Closing as wontfix as there is no possible path of fixing this in this module.

[2020-09-27 15:30] #274 closed

[2020-09-27 16:09] alemagio commented on #274
As a momentary fix I found out that launching `nyc tap ...` shows the correct coverage table:

![master_nyc](https://user-images.githubusercontent.com/21338507/94369865-8e066e00-00ec-11eb-8af2-78ae2bd718bf.png)

[2020-09-28 21:45] danielglazer commented on #267
Hi, can I grab this? looking for my first contribution

[2020-09-29 07:40] alemagio commented on #246
I think this is solved in the latest version of the code.

[2020-09-29 08:24] climba03003 commented on #194
@xtx1130
I see the PR #204 is pause for a few month, do you mine if I pick it up?

[2020-09-29 09:19] mcollina commented on #267
go for it!

[2020-09-29 09:35] mcollina commented on #246
I just shipped that, please check again.

[2020-09-29 10:29] fox1t commented on #267
I would be happy to review that PR :)

[2020-09-29 16:26] alemagio commented on #246
There is an issue indeed.
The problem is that when there is a change on a TS file both tsc and fastify-cli restart.
But, apparently, fastify-cli is faster than tsc so it restarts before tsc has finished transpiling TS to the dist folder so the change is not loaded.
This is an hotfix:
`tsc && concurrently -k -p \"[{name}]\" -n \"TypeScript,App\" -c \"yellow.bold,cyan.bold\"  \"tsc -w\" \"fastify st

[2020-09-29 16:38] mcollina commented on #246
Go for that!

[2020-10-06 21:11] alemagio commented on #246
Working hard on this.
Hope to open a PR (even a draft maybe) by the end of the week.
Just to let you know still a WIP.

[2020-10-07 09:50] fox1t commented on #246
Ok. Just open a WIP PR and we will discuss on the best way to handle this.

[2020-10-08 10:25] giovanni-bertoncelli commented on #16
I haven't found anything in the docs: an async plugin should not use the `done` parameter then? It has only to wait that the promise resolves, right?

[2020-10-08 10:32] alemagio commented on #16
Exactly.
You can see an example [here](https://github.com/fastify/fastify-cli/blob/master/templates/app/plugins/support.js)

[2020-10-15 16:53] mcollina opened #277 "fastify eject"
## 🚀 Feature Proposal

If somebody is using `fastify start`, they might also want to eject and have a `server.js` file that they can use to launch their application on their own, removing the dependency on fastify-cli.
Essentially automating https://github.com/fastify/fastify-cli#migrating-out-of-fastify-cli-start.

[2020-10-16 07:13] #273 closed

[2020-10-16 10:46] danez opened #279 "Typescript handling broken in 2.4"
## 💥 Regression Report

#276 (2.4.0) screwed up our whole typescript dev workflow. We had it working perfectly fine (including watching) before with simply doing
[code]
Nothing else was required to get it working, no code changes etc. (Imho this would also be an easier solution than all the code changes in #276)

In the new version fastify-cli now first errors with
[code]
because we do not specify

[2020-10-16 11:11] mcollina commented on #279
I'm sorry to ear this :(, this was definitely not intended. I would recommend you to lock the dependency to v2.3 while we fix this up.

@alemagio @fastify/typescript we might have to revert https://github.com/fastify/fastify-cli/pull/276

[2020-10-16 11:13] alemagio commented on #279
Sure, sorry for this.
I'll fix it as soon as possible.

[2020-10-16 11:26] danez commented on #279
No worries. To give more context we have two ts configs one for production build `tsconfig.build.json` and one for dev and tests `tsconfig.json`. Our product is separated into an API app (fastify) and a web/frontend app. This is why we share some parts of the tsconfigs in the repo root
[code]

`(api/web)/tsconfig.json` on purpose defines `rootDir` as './' because jest also needs to compile the tes

[2020-10-16 11:38] alemagio commented on #279
Thanks for all the info.
This helps a lot :star_struck:
The idea behind last changes was basically to use the typescript watcher in place of `ts-node`, but, for what I've seen here I might have not considered enough scenarios.
I'll take all your report and try to make it better :+1: with the help of the community.

[2020-10-16 11:41] alemagio commented on #279
I also noticed that I added a new option to specify the `ts-config` file to use when running `start` but it is not documented.
Just another thing to do saturday morning i guess :sweat_smile:

[2020-10-16 13:20] fox1t commented on #279
Hi @danez, your is one of the most complex project structures I've ever seen, and it would be nice to use it as a test bench. Would you mind providing a repository here on GitHub with the same structure, scripts, and dependencies, but without your app code? :)

[2020-10-16 13:22] fox1t commented on #279
@alemagio we can see if it is possible to have a consistent number of cases handled by the "manual ts watcher." If not, we can leave that part to final users!

[2020-10-16 13:38] alemagio commented on #279
@fox1t
Makes sense.

[2020-10-18 18:48] mcollina commented on #279
any progress with this? Should we do a revert? @fox1t @alemagio?

[2020-10-18 18:59] alemagio commented on #279
@mcollina
I'm working on it right now.
I solved one of the issue (the system did not include parent configurations).
IMHO the problem is not easy to solve as I thought in the first place, so, maybe, we can consider reverting this and, eventually, I'll keep working on it and I might propose a new solution in the future.
I'm working on this in my free time so I can't assure a solution briefly :sweat

[2020-10-18 21:29] mcollina commented on #279
I'll ship a revert in the morning.

[2020-10-19 10:19] danez commented on #279
Here is the example repo. https://github.com/danez/ts-example-app
Thanks for all your hard work. 💚

[2020-10-19 12:35] alemagio commented on #279
@danez
Thanks a lot for the repo, I cloned it and solved another issue thanks to it.

[2020-10-19 12:44] fox1t commented on #279
@danez, thanks for your repo.
@mcollina revert would be ok for the moment. We can use the provided repository to iterate over this. As I said, it is a complext project configuration and it will help us understand if this is even achievable at the cli leverl or is something to leave in userland. At the moment, I think that we can standardize/suggest `ts-node ./node_modules/.bin/fastify start -w -l

[2020-10-19 15:39] mcollina commented on #279
Reverted in v2.5.0

[2020-10-19 15:39] #279 closed

[2020-10-21 08:08] #268 closed

[2020-10-24 11:15] alemagio commented on #246
the fix is described [here](https://github.com/fastify/fastify-cli/issues/246#issuecomment-700819896)
It is only necessary to replace the `dev` script in the app-ts template.

[2020-10-24 12:17] #246 closed

[2020-10-25 17:53] seriousme commented on #267
Just wondering: would it not be easier to just always  `import` as of Node 14.
`import` will happily import .js , .cjs and .mjs

E.g, in [util.js](https://github.com/fastify/fastify-cli/blob/master/util.js#L40) something like:
[code]

This way you don't need all the extra logic present in  https://github.com/fastify/fastify-autoload
According to https://developer.mozilla.org/en-US/docs/Web/JavaScr

[2020-10-25 20:43] seriousme commented on #267
It turns out that `import` returns an object containing the export so to get it to work it needs to be something like:
[code]
Kind regards,
Hans

[2020-10-26 07:00] mcollina commented on #267
It likely would!

[2020-10-26 07:56] fox1t commented on #267
I am confused: I think we also need top-level await to support what you suggest @seriousme, aren't we?

[2020-10-26 08:01] fox1t commented on #267
I also suggest checking all of the `import()` cases in this playground: https://github.com/fox1t/modules-playground/tree/master/modules.
As you can see, they are not all identical, and, in my experience, the dynamic `import()` is the one that more often has quirks because it depends upon the module context where it is used.

[2020-10-26 17:52] seriousme commented on #267
Nope, you only need an `async function` to be able to use `await`. Hence Async/Await ;-)
An async function always returns a promise (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function)

so this works, even in Node 10.21.0:

[code]

[2020-10-26 18:06] seriousme commented on #267
It looks like you put quite some effort in this!
I glanced at your examples and I saw lots of named imports ;-)

As you can see my example only aims at default imports as named imports are rather unusable in this context imho.
Do you foresee any issue with just the default imports ?

Kind regards,
Hans

[2020-10-30 08:44] seriousme commented on #267
I have been tinkering a bit with the code:

I changed two lines:
`function requireServerPluginFromPath (modulePath)` to `async function requireServerPluginFromPath (modulePath)`
in Util.js
and
`file = requireServerPluginFromPath(opts._[0])` to `file = await requireServerPluginFromPath(opts._[0])`
in `print-routes.js`

This should give imho identical results as before however it causes many tests t

[2020-10-30 09:05] mcollina commented on #267
There are more `await` to add, and it's likely not a 2-line change :). Keep tinkering!

[2020-10-30 10:30] seriousme commented on #267
I  know its not a 2 line change, but this was the bare minimum of changes that already caused it to fail ;-)

Weird thing is that `node test/print-routes.test.js` runs all 7 tests without issues. That same test suite  fails all 7 tests when I mess with the `require` by using `const serverPlugin = require(resolvedModulePath+"blah")` so the async require works in this test !

Running npm test result

[2020-10-30 10:58] seriousme commented on #267
Decided to try to skip the failing tests one by one to see what happens:

ok 6 - should start fastify with custom options with a typescript compiled plugin # SKIP
ok 10 - should error with a good timeout value # SKIP
ok 11 - should warn on file not found # SKIP
ok 12 - should throw on package not found # SKIP
ok 13 - should throw on parsing error # SKIP
ok 16 - should throw the right error on requ

[2020-10-30 15:59] seriousme commented on #267
Well that was fun...

Turns out that I got fooled by Github Search :-(

Github search only mentioned `lib/print-routes.js` as caller of `requireServerPluginFromPath` but as you all probably already knew the same function is used directly from `start.js`

Putting in an await there as well magically solves most of the issues:
[code]
Still surprised why the other tests worked without the await in `st

[2020-10-30 19:25] seriousme commented on #267
FYI it needs to be `import(url.pathToFileURL(resolvedModulePath).href` instead of just `import(resolvedModulePath)` because on Windows a path can be 'D:/blah/blah' which import() sees as URL protocol D

[2020-11-02 16:52] fox1t commented on #267
Oh, here we are again! Our old friend @mcollina XD

[2020-11-07 22:07] #81 closed

[2020-11-07 22:07] #161 closed

[2020-11-07 22:07] #26 closed

[2020-11-07 22:07] #198 closed

[2020-11-07 22:07] #199 closed

[2020-11-07 22:07] #206 closed

[2020-11-07 22:07] #214 closed

[2020-11-07 22:07] #235 closed

[2020-11-07 22:07] #131 closed

[2020-11-22 12:34] yigitkurtcu commented on #277
I want to look at this. Will this feature be provided by adding an option to the **fastify generate** command?

[2020-11-22 14:02] mcollina commented on #277
I would prefer this to be a new command. Folks might change their mind.

[2020-11-28 18:03] alemagio opened #295 "Help info missing for generate-plugin command"
## 🐛 Bug Report

`fastify help` miss `generate-plugin` command info.
`fastify help generate-plugin` missing.

[2020-12-18 05:55] radiorz opened #301 "could fastify cli generate a new route with a independent schema file，handler etc?"
## 🚀 Feature Proposal

if i want to create new route, i should create route,schema and handler etc by myself,could fastify-cli do this automatically ?

## Motivation

## Example
![image](https://user-images.githubusercontent.com/24271959/102580602-d5275c80-4139-11eb-8734-048e1276c735.png)

[2020-12-18 09:37] mcollina commented on #301
I would recommend against that folder structure. route, schema and handler changes together, so they should stay together.

[2020-12-18 10:13] radiorz commented on #301
thanks for your recommend @mcollina . if possible please tell me what is a best folder structure should be.

[2020-12-18 15:39] mcollina commented on #301
I put 1 route per file, including the code for the controller and the schema.

[2020-12-18 18:32] kibertoad commented on #267
Since the linked PR is merged, can this be closed?

[2020-12-18 19:55] #267 closed

[2020-12-19 10:24] #295 closed

[2020-12-19 11:36] joobisb commented on #277
@mcollina I would like to raise a PR on this.

[2020-12-20 12:00] #277 closed

[2020-12-22 14:48] alemagio opened #303 "Typescript template does not work with start command"
## 🐛 Bug Report

Simply running `npm run dev` of `npm run start` in a clean typescript template does not work:

![image](https://user-images.githubusercontent.com/21338507/102900441-8d237500-446c-11eb-9cf6-e58f6c14a982.png)

Changing the import to `import { join } from "path"` fixes the issue but another one comes out:

![image](https://user-images.githubusercontent.com/21338507/102900597-ceb42000

[2020-12-22 15:45] kibertoad commented on #303
@alemagio Could you please provide full reproduction? When I try to compile locally after changing import and `path.join` to `join`, it just compiles fine.

[2020-12-23 09:18] mnffaisy1 opened #307 "No server.ts in templates/eject"
## 🚀 Feature Proposal

hello guys
there should be a server.ts in templates/eject/

[2020-12-23 10:03] mcollina commented on #307
We should add an `eject-ts` command.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-23 12:20] mnffaisy1 commented on #307
Yes i'd... i'm a newbie in javascript but looking forward to contribute to fastify project.  i don't know node-tap but i'll try my best.

[2020-12-23 14:05] mnffaisy1 commented on #307
can anyone post here a server.js template?

[2020-12-24 06:09] mnffaisy1 commented on #307
please make sure **_server.ts_** is perfect...

[2020-12-28 11:48] reilem opened #310 "Listening on a specific host crashes at startup"
## 🐛 Bug Report

When specifying a host IP address on  `listen` causes crash on startup

## To Reproduce

Steps to reproduce the behavior:

(Here 127.0.0.1 is used, but I also tested: 192.168.x.x (my local IP) and  0.0.0.0 none of them worked)

[code]

Resulting crash & error:

[code]

## Expected behavior

I expect it not to crash and host on the specified IP. I need this to test the backend usin

[2020-12-28 11:50] reilem commented on #310
I am able to get it working using the `-a` flag, but still it would be nice if this also worked in code.

[2020-12-28 14:33] mcollina commented on #310
That's totally expected. If you'd like to manually listen, you should use `fastify eject` to create a `server.js` file.

[2020-12-28 14:33] #310 closed

[2020-12-28 18:45] #307 closed

[2021-01-19 04:17] shermanlai commented on #303
I ran into the same issue with a fresh TS install.

Node 14
WSL Ubuntu.
Fastify CLI 2.7.0

[code]

I get the same `Error: plugin must be a function or a promise` shown above.

[2021-01-19 15:07] alemagio commented on #303
@kibertoad
I think I found something in fastify-autoload.
I just opened a PR, hope is fine :smile: .

[2021-02-04 08:48] zekth commented on #303
Is this still happening since the merge in auto-load?

[2021-02-04 08:57] alemagio commented on #303
Hi @zekth
I just tried and seems to work now.

[2021-02-04 08:59] #303 closed

[2021-02-05 07:23] climba03003 commented on #194
I will be doing this when I have time.

[2021-02-10 14:53] alemagio opened #312 "Add fastify-sensible to the project template"
As titled, I believe it might be useful to add `fastify-sensible` to the project template.
I know it would be the first plugin added to the template (apart from `fastify-autoload` and `fastify-plugin` which are kinda unique as plugins) but it looks very generic so in my opinion it would not make the template too opinionated.
What do you think?

[2021-02-10 17:02] mcollina commented on #312
unfortunately fastify-sensible add a custom error handler that essentially cripples it for greater reuse. Maybe we could just remove it from there, so we can add it to this module.

I would add fastify-sensible inside the `plugins` folder.

[2021-02-10 17:09] alemagio commented on #312
Yes I meant inside the `plugins` folder basically.

You mean [this](https://github.com/fastify/fastify-sensible/blob/b08cbec7f37c2d834c91c0acdfe5b1ef5c3339c6/index.js#L46)?

[2021-02-10 17:37] mcollina commented on #312
I'm happy to add fastify-sensible here with the caveat that errorHandler option is set to false.

[2021-02-10 21:27] alemagio commented on #312
Perfect, gonna work on that this weekend hopefully.

[2021-02-13 13:26] delvedor opened #314 "Load a file before everything else"
## 🚀 Feature Proposal

Offer a way to run a specific file before everything else, à la `node -r foo index.js`

## Motivation

Most APM vendors needs to be posed before anything else, which is currently not possible with the CLI.

## Example

[code]

[2021-02-13 18:37] mcollina commented on #314
sure!

[2021-02-16 12:47] s1eeper888 opened #315 "Cannot modify logger via server config"
## 🐛 Bug Report

When initializing server config and modifying a property, such as: timestamp does not work.

## To Reproduce

[code]

[code]

## Expected behavior
current:
[code]
expected:
[code]
I expect stdout timestamp to be using ISO format versus Epoch format.

## Your Environment

- Node 14.15.3
- *fastify version*: 3.0.0
- *fastify cli version*: 2.6.0
- *os*: Mac

[2021-02-16 20:32] mcollina commented on #315
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-02-18 05:58] anthonyringoet commented on #312
Think this can be closed as PR https://github.com/fastify/fastify-cli/pull/313 was merged.

[2021-02-18 08:03] #312 closed

[2021-02-18 08:43] mcollina opened #317 "Add graceful shutdown"
## 🚀 Feature Proposal

Most users would expect to have a graceful shutdown sequence, where all the current requests are completed before exiting the process.

[close-with-grace](http://npm.im/close-with-grace) implement such functionality, so I propose we use it inside `fastify start` and inside the server generated by `fastify eject`.

[2021-02-18 09:24] StarpTech commented on #317
It would be great to make it part of [`fastify.close`](https://github.com/fastify/fastify/blob/master/docs/Server.md#close) so plugin maintainers can ensure that their resources are cleaned gracefully.

[2021-02-18 09:39] mcollina commented on #317
I think the idea would be:

[code]

[2021-02-18 09:40] StarpTech commented on #317
That's great but every new project has to respect that. The plugin so soo small but would have a huge impact.

[2021-02-18 10:04] mcollina commented on #317
I know. Unfortunately adding global state would make it harder to reuse and test. As an example, `tap` adds `uncaughtException` and `unhandledRejection` handlers to catch errors that happens inside the tests. Other test frameworks, libraries and other modules adds those.

[2021-02-18 13:12] StarpTech commented on #317
Good points. I agree that can be tricky.

[2021-02-18 13:40] inigo-garcia commented on #317
I started to integrate this feature and after running some tests, I think we may need to remove the listeners once the server gets closed. The library implements a method called `closeWithGrace.uninstall()`. What do you think?

[2021-02-24 09:03] #317 closed

[2021-02-25 08:02] nezouse opened #320 "Typescript template tests are not working"
## 🐛 Bug Report

As seen in output below, running npm test doesnt work. It looks similar to #303, but as it's error while importing tap there is not reason to be anything with autoload.

**Setting "esModuleInterop" to true in tsconfig.json fix it.**
I found that it's already fixed in #304, but still not merged.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code

[2021-02-25 08:40] mcollina commented on #320
cc @fastify/typescript @alemagio PTAL

Maybe #304 is actually needed?

[2021-02-25 08:48] alemagio commented on #320
That PR changes the root tsconfig of the project, we should make the change to the tsconfig.test.json instead. Right?

[2021-02-25 09:17] mcollina commented on #320
I don't know. I think this issue should be fixed asap, if #304 is needed, then it should land.

[2021-02-25 09:22] fox1t commented on #320
Here the real fix is to import tap like this `import * as tap from 'tap'` since the tap typings export the legacy namespace export `export = tap`. Did @types/tap changed types recently?

[2021-02-25 09:26] alemagio commented on #320
It is a fix for the issue but I still believe that actually tap is not using the `tsconfig.test.json` file. But maybe this is material for another issue :sweat_smile:

[2021-02-25 09:36] L2jLiga commented on #320
Adding `"esModuleInterop": true` to root tsconfig solves the issue

[2021-02-25 09:43] fox1t commented on #320
@alemagio you are right. We should run tests adding `TS_NODE_PROJECT` env var and pointing it to the `tsconfig.test.json`.

[2021-02-25 09:44] alemagio commented on #320
@fox1t
Working on a PR.
@mcollina
Is that ok if I push today when I have a moment?

[2021-02-25 10:54] mcollina commented on #320
sure thanks!

[2021-03-01 08:51] anthonyringoet commented on #314
Merged to master so can be closed afaik.

[2021-03-01 09:01] #314 closed

[2021-03-03 12:43] prescience-data opened #322 "Broken upstream dependency "blessed-contrib" blocking installation"
## 🐛 Bug Report

Broken upstream dependency `blessed-contrib` > `marked-terminal` + `marked` from a recent `package.json` commit in `marked-terminal`.

[code]

### Broken `blessed-contrib` package.json:
https://github.com/yaronn/blessed-contrib/blob/master/package.json#L35

### offending `marked-terminal` upstream commit:
https://github.com/mikaelbr/marked-terminal/commit/abba40b6d0150c591ca92a6ec

[2021-03-03 13:12] mcollina commented on #322
Does this work with npm? That seems a valid package.json to me. Maybe this should be supported in pnpm.

[2021-03-03 19:50] prescience-data commented on #322
The `marked-terminal` requires a peer dependency of `"marked": "^1.x.x || ^2.x.x"`, whereas `blessed-contrib` is only installing `"marked": "^0.x.x"`

![image](https://user-images.githubusercontent.com/65471523/109862621-c2421400-7cb4-11eb-97b6-4468c8fe0eb4.png)

Not a problem if not using `strict-peer-dependencies` but for projects that require this (for whatever reason) it makes it `FAIL` instea

[2021-03-03 19:59] prescience-data commented on #322
🥳 lol got them to disable the `strict-peer-dependencies` flag in the project, so closing for now.

[2021-03-03 19:59] #322 closed

[2021-03-04 05:03] Adityapanther opened #323 "plugin must be a function or a promise error"
## 🐛 Bug Report

After installing `fastify-cli` and running with command `npm start` getting error which is written below. if i am running server with normal command `node server.js` my server running well

## Getting error

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Environment

- *node version*: 14, 16, 0
- *fastify version*: >=

[2021-03-04 08:03] mcollina commented on #323
What is the content of `server.js`?

[2021-03-04 09:25] Adityapanther commented on #323
## content of `server.js` file

[code]

## and content of `routes/firstRoutes.js`

[code]

[2021-03-05 08:42] mcollina commented on #323
If you read the docs, https://github.com/fastify/fastify-cli#start shows that you need to point it to a plugin to start, not a server. You can start the server just by using `node server`.

[2021-03-05 08:42] #323 closed

[2021-03-06 10:28] Adityapanther commented on #323
so,` fastify start filename.js` for only plugins start

[2021-03-06 13:35] mcollina commented on #323
yes!

[2021-03-09 02:52] mhamann commented on #314
@mcollina any chance we can get a release with this in it?

[2021-03-16 17:00] mariusa commented on #151
This happens again. This should be moved back to top?
https://github.com/fastify/fastify-cli/blob/master/start.js#L62

[2021-03-16 17:14] mariusa opened #327 "Environment variable FASTIFY_WATCH is not honored"
https://github.com/fastify/fastify-cli/issues/151 reappeared

[2021-03-17 05:14] mariusa commented on #327
https://github.com/fastify/fastify-cli/pull/329 is the correct fix

[2021-03-18 11:36] #327 closed

[2021-04-13 08:13] omardoma opened #338 "Update README.md with the latest code for migrating out of the cli start from the templates"
## 🐛 Bug Report

The README.md [Migrating out of fastify-cli start](https://github.com/fastify/fastify-cli#migrating-out-of-fastify-cli-start) section contains out-of-date code missing graceful shutdown.

## To Reproduce

Open the README.md [Migrating out of fastify-cli start](https://github.com/fastify/fastify-cli#migrating-out-of-fastify-cli-start) section and compare it against the [eject](http

[2021-04-13 09:25] mcollina commented on #338
Would you like to send a Pull Request to address this issue?

[2021-04-15 16:35] ManUtopiK opened #341 "fastify docs doesn't work"
## 🐛 Bug Report

When I run `fastify docs`, it return this error:
[code]

## Your Environment

- *node version*: v14.13.0
- *fastify version*: ^3.12.0
- *os*: Mac osx 10.15.6
- I use esm module with `"type": "module"` in the package.json
- I also use "link-module-alias": "^1.2.0"

[2021-04-16 13:27] mcollina commented on #341
https://github.com/fastify/fastify-cli/blob/8049f1298761549a833add7cdf30154df00efc58/docs.js#L18 is missing a check to see if the file is actually a normal file and not a directory... in which case we should recourse.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-16 14:45] ManUtopiK commented on #341
✅   Challenge accepted!

[2021-04-24 09:54] DennisBoanini commented on #338
@mcollina Can I work on this issue?

[2021-04-24 10:10] mcollina commented on #338
go for it!

[2021-04-24 10:11] omardoma commented on #338
@DennisBoanini @mcollina I have just raised a [PR](https://github.com/fastify/fastify-cli/pull/347) for it.

[2021-04-24 10:12] #338 closed

[2021-04-24 10:12] mcollina commented on #338
Thanks!

[2021-04-24 15:15] #341 closed

[2021-04-27 07:24] benjaminviaud opened #351 "TypeError: Cannot read property 'length' of undefined"
## 🐛 Bug Report

I created a simple fastify server but when I start with fastify-cli the console says :

TypeError: Cannot read property 'length' of undefined
    at isInvalidAsyncPlugin (/Users/ben/Sites/itsmediasarl/application/backend/node_modules/fastify-cli/util.js:42:17)
    at requireServerPluginFromPath (/Users/ben/Sites/itsmediasarl/application/backend/node_modules/fastify-cli/util.js:81:

[2021-04-27 07:37] benjaminviaud commented on #351
Sorry, I am using fastify-cli incorrectly.

[2021-04-27 07:37] #351 closed

[2021-04-27 09:15] soulchild commented on #246
@mcollina @alemagio, I am still seeing this exact problem with a freshly generated Typescript fastify-cli project (v2.10.0). Is there still work being done or was this IMHO essential feature abandoned? I have a workaround involving `nodemon` and `ts-node` instead of the default `dev` script using `tsc` and `concurrently`, but I'd really like this to work out-of-the-box with the standard way. Thank

[2021-04-27 09:51] alemagio commented on #246
@soulchild
to fix it you can simply replace you `dev` script with the one described [here](https://github.com/fastify/fastify-cli/issues/246#issuecomment-700819896)
I thought this was merged btw so this should be out of the box. I'll check anyway.

[2021-04-27 09:57] soulchild commented on #246
Thanks, @alemagio! I was under the impression that your solution was just a hot-fix until a more permanent solution was found. But I'm happy to just stick with it, if that is what will eventually be merged anyways. :smile:

[2021-04-27 10:08] alemagio commented on #246
I think that changing that behavior is not that simple.
The solution proposed is a patch but at least it should be included in the template I think.
I opened a PR for that.

[2021-05-01 02:31] francisdaigle opened #354 "Testing and Typescript declaration merging"
## 🐛 Bug Report

- Plugin declarations not being merged as expected
- Possibly related to plugin load order

[code]

## To Reproduce

1. Add plugins:

[code]

[code]

2. `npm test`

## Expected behavior

[code]

## Your Environment

- *node version*: 14.16.0
- *fastify version*: 3.0.0
- *os*: Mac

[2021-05-01 07:40] mcollina commented on #354
cc @fastify/typescript

[2021-05-01 15:27] climba03003 commented on #354
The problem is TypeScript do not know which file is imported when using `fastify-autoload`, so the type is not merged in this case.
I think you should use `typeRoots` or `types` options in `tsconfig.json` and move the typings to another file.

[2021-05-03 19:26] Iamshankhadeep commented on #315
@mcollina I want to take on this issue. But need a little bit of help. I go through the codebase but I am not sure how `logger` gets applied.

[2021-05-04 07:47] mcollina commented on #315
here: https://github.com/fastify/fastify-cli/blob/ca72e80c2efe6e1c0fd172176b51fe4b8546c304/start.js#L103-L135

[2021-05-05 15:41] madflow opened #357 "fastify -r does not behave like node -r"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

16.0.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Big Sur

### Description

fastify -r does not behave like node -r

Maybe a feature - not a bug :S.

### Steps to

[2021-05-05 16:54] Iamshankhadeep commented on #315
hey @mcollina I tested tried to reproduce the issue and it does log the expected value. I guess it's been fixed in latest version.
[code]

[2021-05-06 07:12] mcollina commented on #357
You are right! Would you like to send a PR?

[2021-05-06 07:17] #320 closed

[2021-05-06 07:18] #315 closed

[2021-05-06 10:06] madflow commented on #357
I can surely give it a shot!

[2021-05-07 10:42] #357 closed

[2021-05-08 04:49] #354 closed

[2021-05-08 23:14] veritem opened #361 "Some times typescript doesn't generate js code in dev so you have to manually delete dist folder for it to pick up"
Hello, on the dev server for the typescript template it would be great if you could an option to remove and regenerate the dist folder every time the server starts to reduce bugs that normally happens when typescript doesn't generate some piece of code in development.

or if there is any other way to resolve the issue,

[2021-05-08 23:17] veritem opened #362 "Add default readme for generated project"
When new project is generated it would be great if you could add a default readme that it was generated by fatisfy-cli

[2021-05-08 23:23] veritem opened #363 "Add minimal eslint and Prettier configurations"
It would be great if for the generated code you added minimal eslint and prettier configurations as optional for people that need them in their work flow

[2021-05-09 09:47] mcollina commented on #363
We did not do this on purpose as we could not really agree on these topics between ourselves.

What are the other folks in @fastify/fastify think? I'm happy to go with the majority.

(As an example, I dislike any use of prettier).

[2021-05-09 09:49] mcollina commented on #361
cc @fastify/typescript

[2021-05-09 10:44] zekth commented on #363
I think that have to be an option in the creation of a project like `Would you want to have code style configurations?`.
EG: in most of my projects i use eslint + editorconfig + prettier because of dayjob habits; but having those forced in a cli like in `vue-cli` or any other is a bit too intrusive to me. I personnaly don't mind of the code style as the scripts in `package.json` are implemented li

[2021-05-10 08:51] Eomm commented on #363
I agree with the optional flag to turn on this feature

Someone else who prefer another setup (es: `standardjs`) shall submit a PR 👍🏽

[2021-05-12 12:03] UmarGhouse opened #367 "`fastify start` command is throwing `missing file parameter` error on Windows"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

^3.15.1

### Node.js version

15.14.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

2004

### Description

I just joined a project that uses fastify as their backend framework of choice and we

[2021-05-12 12:25] Eomm commented on #367
Could you check with the `-l debug` option and removing the pino-pretty piping?

In powershell the slash or backslash should be the same, but did you try it too?

[2021-05-13 05:11] UmarGhouse commented on #367
Thanks @Eomm ! I tried doing what you said in different variations and here were the results:

- `fastify start -l debug -w server/fastify.js --options --ignore-watch='out.csv node_modules ui .nyc_output'`
- `fastify start -l debug -w server\fastify.js --options --ignore-watch='out.csv node_modules ui .nyc_output'` - note the backslash after `server`
- `fastify start server/fastify.js -l debug -w

[2021-05-13 06:04] mcollina commented on #367
cc @simoneb could you take a look?

[2021-05-13 07:47] simoneb commented on #367
@UmarGhouse replace single quotes with double quotes. If an npm script, escape them with backslashes, e.g.

[code]

[2021-05-13 12:26] UmarGhouse commented on #367
Thanks @simoneb ! It works when I use double quotes instead of single ones (escaped with backslashes as shown). Tested the same on WSL and it works there as well! Just the bcrypt error left, but I think I can solve that by re-installing my packages.

So, I think we can close this issue 🙂. Thanks again!

[2021-05-13 12:26] #367 closed

[2021-05-13 18:34] rodmoreno opened #368 "86 high severity vulnerabilities after init a fastify empty project"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.15.1

### Node.js version

14.17.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3.1

### Description

npm found 86 high severity vulnerabilities after `npm install` for a new fastify proje

[2021-05-13 18:42] zekth commented on #368
We need to move the template to tap 15. Would you mind sending a PR for this?

[2021-05-13 19:48] rodmoreno commented on #368
Yeah! I can do it!

Actually I already forked this repo but I notice into `generate.js` uses fastify-cli package.json for resulting new project. The problem comes when I looked into fastify-cli package.json and had `"node": ">= 6.15.0"` on the other hand tap 15 drops support for node <10.

So I'll need also update fastify-cli package.json to also drop support for node <10 and I don't know if this

[2021-05-13 19:53] zekth commented on #368
We dropped support for node <10 in fastify. You can go for it.

[2021-05-13 20:08] rodmoreno commented on #368
Fantastic @zekth, in this case I will work in the PR

[2021-05-17 23:04] #368 closed

[2021-05-19 15:11] meehawk commented on #363
@mcollina I would love to work on this if it is still open. Trying to get more contributions to fastify in 😁

[2021-05-24 15:29] miguelc1221 opened #377 "Tests don't pass as of Node v15 when using the typescript template"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.0.0

### Plugin version

3.0.0

### Node.js version

16.1.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.2.3

### Description

When running `npm run test` we get the following error
[code]

[2021-05-24 15:39] StarpTech commented on #377
Hi, that would be great.

[2021-05-25 13:49] cunum opened #380 "Choose a custom logging framework"
Would be nice to be able to choose a logging framework via CLI argument, for example

`--log-framework log4js`

And CLI would use this on app start

[code]

[2021-05-25 14:02] kibertoad commented on #380
@cunum Considering that pino is the best logging framework on the block, why might you want this?..

[2021-05-25 14:35] cunum commented on #380
Sometimes you have to use your own logging framework, I'd guess every major company has at least its own fork, preference is another reason, you name it.

[2021-05-25 14:43] kibertoad commented on #380
Makes sense :)

[2021-05-25 21:12] cunum commented on #380
For the record, I found a CLI argument in the code that already does exactly this.

So this can be closed, the argument is not documented (maybe a todo) yet, but with `-L` flag you can pass a custom logger.

[2021-05-26 07:51] Eomm commented on #380
I don't think this API would work: are log4j and other logs out there supporting the same pino interface?

I would suggest a `optionHook` parameter that links a file that enance the fastify server option adding a logger instance and return it

[2021-05-26 09:41] cunum commented on #380
As mentioned it's already implemented but not yet documented.

`'logging-module': ['L']`

In start.js:
[code]

I'm using it for a custom multi stream logging setup.

[2021-05-26 10:01] Eomm commented on #380
I would leave the issue open to fix the docs 👍🏽

[2021-06-10 08:21] alemagio commented on #361
I think you can add `tsc --build --clean` as the first command in your `dev` script (if you are using the one generated by the CLI).
It should cleanup all the generated typescript projects.
[doc](https://www.typescriptlang.org/docs/handbook/compiler-options.html)

[2021-06-16 12:40] crtl opened #388 "Help is not printed: There are 9 help pages that matches the given result"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x.x

### Plugin version

_No response_

### Node.js version

14.17.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Ive installed fastify on `windows 10` over `git bash`

[2021-06-16 17:44] mhmd-22 opened #389 "Memory leaks and high CPU usage with typescript on dev mode"
### Prerequisites

- [X] I have written a descriptive issue title
- [x] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.0.0

### Plugin version

cli-2.13.0

### Node.js version

16.3.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

When running "npm run dev" with the default typescript tem

[2021-06-16 18:01] StarpTech commented on #389
As far I can tell you this is normal. Typescript tooling consumes a lot of memory.

[2021-06-16 20:34] zekth commented on #389
I tried on node 15 and 16 and i was not able to reproduce your problem. Can you explain more your context of use? Also please provide resource monitor informations. ( Win + R . 'resmon' )

[2021-06-17 04:21] mhmd-22 commented on #389
@StarpTech I've never encounter this on other typescript projects

@zekth I peak at 500-700Mb most of the time. and sometimes it didn't peak at all and it continue close to 1GB. it's inconsistent. and it depends on the number of dependencies.

I will try to do more testing and see what happens.

[2021-06-17 11:21] mhmd-22 commented on #389
As @StarpTech said. it's looks like a tooling issue with typescript. I tried different type of projects and the memory consumption is consistent depending on the project size. I'll close the issue for now as it's not affect the production.

[2021-06-17 11:22] #389 closed

[2021-06-17 11:30] StarpTech commented on #389
It is really a problem. It can be reduced by disable type-checking. https://github.com/TypeStrong/ts-node#typechecking

[2021-06-17 14:19] mcollina commented on #388
Would you like to send a PR to fix this? It looks like this a Windows bug somewhere and I do not have a Windows machine handy.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-06-18 08:42] khattakdev commented on #388
This seems to be an issue with either `glob` ([npm package](https://www.npmjs.com/package/glob)) or `help-me` ([npm package](https://www.npmjs.com/package/help-me))

Here's how you can reproduce it.

Executing the following code:
[code]

`help-me` has some similar code (the first argument passed to `glob`).

[2021-06-18 08:45] mcollina commented on #388
I'm not sure how would you fix it.

[2021-06-18 08:50] khattakdev commented on #388
I'll try to find a fix for this. I'm not familiar with `help-me` or `glob` so need to experience with `glob` a little bit. I think it has something to do with the first argument we pass to `glob`. I tried `path.join` as well as `path.resolve` but couldn't find a fix yet.
Will look into it.

[2021-06-18 10:01] MrYbo opened #390 "How can I use ‘fastify’ as a global object in other files"
## 🚀 Feature Proposal

[code]
As shown in the above code, because fastify is bound with some values, I have to put the processing method of the request here. If I want to separate the processing method into a separate file, how can I use fastify in this file. Note that this fastify has already bound some custom global objects when the project starts.

## Motivation

Please outline the motivation f

[2021-06-18 10:13] mcollina commented on #390
The `this` in your route is the fastify instance.

[2021-06-18 11:36] lirantal opened #391 "Upgrade blessed-contrib dep to latest 4.9.0 to avoid indirect vulnerabilities"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

2.13.0

### Plugin version

_No response_

### Node.js version

14

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

The current version of the `blessed-contrib` dependency

[2021-06-18 11:38] khattakdev commented on #388
@mcollina After debugging for a while, I found out that this is an issue on `help-me` package. I found a fix for this as well, will create a Pull Request on `help-me` repo.

[2021-06-18 11:41] mcollina commented on #388
Thanks!!

[2021-06-18 11:43] mcollina commented on #391
Should this be automatically picked up by tooling without any manual fix? The dependency update is in range.

[2021-06-18 11:50] lirantal commented on #391
I notice now that there's no lockfile in the project, which is why I didn't want to PR this in the first place, and let the project update deps with whatever tooling they see fit.

That 4.9.0 less than an hour old so it'll probably take a bit for tooling to kick in before they suggest a dependency upgrade. Not sure what you're using right now but we can wait until it does. No real urgency here. It

[2021-06-18 12:06] mcollina commented on #391
No need, it will; be picked up by the tooling automatically!

[2021-06-18 12:06] #391 closed

[2021-06-18 18:20] lirantal commented on #391
The Snyk bot just kicked-in with the blessed-contrib update: https://github.com/lirantal/dockly/pull/166

[2021-06-20 13:52] khattakdev commented on #362
I'm writing code for this issue by adding a `README.md` file in `templates/app` and `templates/app-ts`. After adding the `readme` when I run the tests, 2 of them fail.
![image](https://user-images.githubusercontent.com/37709578/122676703-9a8da200-d1f8-11eb-91a1-82ba744901ca.png)

I tried going step by step (debugging) but couldn't find the solution. Any help will be appreciated.

[2021-06-20 15:55] mhmd-22 commented on #389
**Update:**
Looks like the issue is from "watch" feature in `fastify start ` not typescript. I removed it and my memory usage dropped from 600MB to 100MB max. (also CPU usage dropped significantly)

I replaced fastify-start with `nodemon` and `tsc -w` and it works perfectly

[2021-06-21 02:01] MrYbo commented on #390
But I still don't quite understand how to use this global fastify instance created by cli when the project starts up in other files.Hope you can teach me. thank you very much

[2021-06-21 07:10] mcollina commented on #390
Wrap them in plugins, and load them with register.

[2021-06-21 07:50] mcollina commented on #362
there is likely something that would need to be adjusted in the test. It seems the new files are not inside the `expected` map.

[2021-06-21 09:01] #390 closed

[2021-06-21 09:08] khattakdev commented on #362
I don't think so that's the case, Here are the `expected` key values
![image](https://user-images.githubusercontent.com/37709578/122737027-125fd900-d29a-11eb-81b0-901b25297431.png)

[2021-06-22 13:00] #388 closed

[2021-06-24 20:12] #362 closed

[2021-07-12 16:20] chcoomilk opened #397 "App Error Caching"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.0

### Plugin version

3.0.0

### Node.js version

12.22.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows Subsystem Linux; WSL Debian 10 (Buster)

### Description

Hello, I have en

[2021-07-13 16:10] jeff-sexton opened #398 "Improved Documentation for containerization of fastify-cli"
## 🚀 Feature Proposal
 A small documentation update to add details regarding using `fastify-cli` within a container. This would add details about both the existing functionality to detect when a `fastify-cli` process is running in a docker container and highlight the need to explicitly set the server address to 0.0.0.0 for non-docker containers.

## Motivation
`fastify-cli` has default behaviour t

[2021-07-13 16:13] mcollina commented on #398
Go and open a PR! I would also add that we could create a Dockerfile already as part of our templates.

[2021-07-13 16:23] jeff-sexton commented on #398
Does the `fastify-cli` template include a Dockerfile? Or do you mean that we could create another template example that was ready for containerization?

[2021-07-15 09:48] ngprnk commented on #83
I get this error while running `fastify` with `pm2`

[code]

[2021-07-15 10:08] kibertoad commented on #83
Are you trying to run TypeScript? Are you using older Node version?

[2021-07-15 10:09] ngprnk commented on #83
node version
```v14.16.1```
i have `  "type": "module"` in my package.json

[2021-07-15 16:12] #398 closed

[2021-07-21 18:43] galvez opened #401 "Config File Option"
Would be nice to be able to pass `-c config.js` in the command line, a file that would export an object with this signature:

[code]

That is, a 1:1 mapping to all options configurable via environment variables.

Would you consider merging a PR implementing this feature?

[2021-07-21 21:06] mcollina commented on #401
Sure thing!

[2021-07-25 20:24] msaaddev opened #402 "🚀 Feature Proposal: Update Notification for Global Installs"
## 🚀 Feature Proposal

Many users out there install CLIs globally but the issue with this approach is these users don't get any notification when a new update for the CLI is available. This can be fixed using [update-check](https://www.npmjs.com/package/update-check) package developed by Vercel. I read the code of fastify-cli and found that you folks have also not implemented this feature. (I migh

[2021-07-26 07:56] mcollina commented on #402
Sure, would you like to send a PR?

[2021-07-26 11:15] msaaddev commented on #402
Yeah! Sure.

[2021-07-26 22:17] msaaddev commented on #402
@mcollina I needed a suggestion. Can you tell me in which file I should write the code for the global update check? I am looking at the codebase, and it seems like for different operations, the CLI is executing different files (if I am not wrong).

So should I go ahead and write the function as an IIFE in the `cli.js` or do you want me to write it in any other file?

[2021-07-26 23:03] MSE99 commented on #402
@msaaddev I suggest a different approach:

[code]

You can use this small wrapper function around command handlers in `cli.js`.

[2021-07-27 06:27] climba03003 commented on #402
`cli.js` itself is a executable. No need to wrap each handler. Just place the checking before all `commist.register`.

[2021-07-27 07:29] MSE99 commented on #402
It's a cleaner way of doing things, checking for updates will mean accessing the network (it has to be done asynchronously)  some command handlers schedule async tasks too, it's better if fastify-cli checks for an update and prints a notification first then proceeds with whatever else it had to do.

[2021-07-27 22:54] msaaddev commented on #402
I have added this code block in `cli.js`

[code]

Why this test is failing? Anyone?

[code]

[2021-07-28 05:57] MSE99 commented on #402
@msaaddev Tests are passing on my end, is there anything else you changed other than adding that code snippet ?.

[2021-07-28 08:20] msaaddev commented on #402
No, just a new `update-check` dependency in the `package.json`. BTW I wrote the above code block at line 23, just above where you are registering commits. Did you also do the same?

[2021-08-01 08:29] msaaddev commented on #402
@MSE99 anything?

[2021-08-01 23:35] whoisjuan commented on #168
@mcollina This went stale, but definitely a still problem. Writing a file inside the application directory crashes the CLI. This also makes you lose visibility of any logs that happen between the process ending and the server restarting to listen.

[2021-08-17 20:42] zekth opened #409 "feat: Use ajv-compiler read/write feature"
## 🚀 Feature Proposal

Because https://github.com/fastify/ajv-compiler/commit/93fe638252149edc18e877c96eb45e4f3e742d7a has landed we are now able to use read/write feature of ajv validators.
One thing that would be great is to use fastify-cli to create the compiled schemas and being able to save them like snapshot for test runners. At the same time we need to consider a way to properly store them

[2021-08-17 22:04] mcollina commented on #409
It would definitely be a great idea!

[2021-08-23 03:52] MFinn87 commented on #310
@mcollina Can we open this back up, please? This is a genuine issue, and the server should not be attempting to listen more than once, on the same host/port. Thank you kindly.

[2021-08-23 07:41] climba03003 commented on #310
`fastify start` treat the file as plugin, so you should not `listen` your instance inside the file. If you need to change those options, pass it through the option of `fastify start`.
e.g. `fastify start plugin.js --address 127.0.0.1 --port 3000`

[2021-08-23 17:12] MFinn87 commented on #310
Thank you for the response @climba03003 . Your solution with `--address` and `--port` flags work without calling `fastify.listen`.

[2021-08-28 13:26] meehawk commented on #380
@Eomm , slowly getting back to the flow! I'd like to take this up. In the meantime I'm going over a recent PR to try to catch things up. Can you guide me through this issue

[2021-08-30 15:22] jstayton opened #411 "Support ESM for exporting server `--options`"
It would be great if ESM projects could `export const options` when using the `--options` flag.

Like this:

[code]

For now, this seems to work:

[code]

Not the end of the world, but I did spin my wheels for a bit thinking `export const options` would just work, since ESM is supported otherwise.

[2021-08-30 21:28] mcollina commented on #411
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-02 11:33] Eomm commented on #380
Oh, I think this PR https://github.com/fastify/fastify-cli/pull/410 covered this issue

But there are a lot of good-first-issue on our website: https://www.fastify.io/contribute/
if you are willing to help 😄

closing

[2021-09-02 11:33] #380 closed

[2021-09-08 22:05] VIEWVIEWVIEW commented on #246
The ``--ignore-watch`` option does not work with multiple arguments on when using the ``--lang=typescript`` starter within the "dev"-script on windows with cmd.

In case anyone ever runs into the issue, where ``--ignore-watch`` multiple arguments break the cli, just use three backslahes & double quote ```"``` to add your exclusions. Don't use single quotes like in the README.md.

Example: You have

[2021-09-26 15:47] Eomm opened #414 "Async config options"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Gives the user the possibility to set an `async` function to the `options` value to fetch some configuration from external resources

### Motivation

_No response_

### Example

[code]

[2021-09-27 07:12] mcollina commented on #414
The intent is to not have a user do that. Plugins and plugin dependencies should be used to fetch those values:

[2021-09-27 08:07] Eomm commented on #414
The `options` object is provided to the `Fastify()` factory so the plugins load after the configuration has been set

[2021-09-27 10:49] mcollina commented on #414
Take a look at https://www.nearform.com/blog/uncovering-secrets-in-fastify/, with those plugins you can load things at runtime.

[2021-10-04 21:28] leosuncin commented on #71
I use this configuration for `launch.json`

[code]

[2021-10-09 09:41] Eomm commented on #414
It is not possible having external settings such as the log level:

https://github.com/covidgreen/covid-green-backend-api/blob/91830ce825f3a0e1daa6822690c3a87779b19d35/lib/config/index.js#L272

[2021-10-09 10:03] Eomm opened #416 "Support build interface"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Right now the test doc suggests to users to create a factory to build the fastify instance:

https://www.fastify.io/docs/latest/Testing/

[code]

This interface is easier to test for users and configure:

[code]

Inste

[2021-10-09 11:08] mcollina commented on #414
The logger level could easily be changed at runtime.

[2021-10-09 16:42] mcollina commented on #416
I think we should expose some helpers for tests and other programmatic access.

[2021-10-18 10:35] mariusa opened #422 "ESM syntax start gives Error: ERR_AVVIO_PLUGIN_TIMEOUT: plugin did not start in time: plugin. You may have forgotten to call 'done' function or to resolve a Promise"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi, I'm following the README to create an app with ESM syntax, with node 16.x:

[code]

Can't connect to server at http://localhost:5000 (nor https://localhost:5000)
After 10 seconds, this gives
[code]

I see that the CommonJS version h

[2021-10-18 10:51] mcollina commented on #422
As the error says, you either need to call a callback or resolve a promise, here is how you should change your function.

[code]

[2021-10-18 10:51] #422 closed

[2021-10-18 11:03] mariusa commented on #422
Thank you! I removed async as vscode was complaining about it. Maybe this eslint line could be added to README ?

[code]

[2021-11-10 13:47] ilijaNL opened #426 "How to debug typescript project (VScode)"
Hello,

I wonder if it is possible to use the debugger (VSCode or Chrome) on a typescript project generated with fastify-cli.

Thanks

[2021-11-11 10:31] giacomorebonato commented on #426
It's possible to debug in VSCode by creating a `launch.json` file and picking the preset for **Node.js**.

![Screenshot 2021-11-11 at 11 25 51](https://user-images.githubusercontent.com/630796/141282283-931c49dd-9f89-4b9a-af76-0ec02c3b4ae3.png)

This is for example the `.vscode/launch.json` file that I get generated automatically:

[code]

Sourcemaps also needs to be enabled in `tsconfig.json`

[c

[2021-11-11 15:55] giacomorebonato commented on #426
@ilijaNL could you check if this implementation achieves what you're looking for?

https://github.com/fastify/fastify-cli/pull/427#pullrequestreview-803935839

[2021-11-14 15:36] ilijaNL commented on #426
Hmm cant get working on my project, npm run dev works fine but when starting with vs code it just closes after few seconds.

One thing about the suggestion is that it is not supporting watchers, and in my case always debug during development (using watch function)

[2021-11-15 08:24] giacomorebonato commented on #426
@ilijaNL do you have sample project where I can reproduce the issue?
It works for me when starting a new project from scratch.

Do you have any output in VSCode "Debug Console" panel?

I am not prepare about this topic, hence sorry if I ask you a dumb question: does VSCode "Watch" panel allow to achieve what you intend to?

![Screenshot 2021-11-15 at 09 22 58](https://user-images.githubusercontent

[2021-11-15 14:49] giacomorebonato commented on #426
@ilijaNL would you give the command another try? I added livereload to the PR by re-using the existent `npm run dev` script.

I recap the steps to try it out:

* `git clone git@github.com:giacomorebonato/fastify-cli.git`
* `git checkout giacomorebonato:vscode_ts_debug`
* `node ./cli.js generate ../my-fastify-ts --lang ts`

Please let me know if this change satisfies what you're trying to achieve.

[2021-11-24 14:54] gingermusketeer opened #433 "Generated project is restarting the server for git changes"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

CLI 2.13.0

### Plugin version

_No response_

### Node.js version

16.13

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.1

### Description

Changes to files unrelated to the Fastify se

[2021-11-24 14:57] mcollina commented on #433
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-24 15:14] gingermusketeer commented on #433
@mcollina Looking into where the issue might be I think it is caused by `--ignore-watch=.ts$` in package.json replacing the default values for `--ignore-watch`.

What do you see as being a good solution here? The flag could be made additive only but then that will be a bit restrictive perhaps?

[2021-11-25 08:21] mcollina commented on #433
I think the additive solution you are proposing is ok.

[2021-11-27 06:52] #433 closed

[2021-11-29 16:08] jeffmiko opened #436 "Exporting options and using -o option doesn't work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

3.0.0

### Node.js version

14.18.1

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Linux Mint 20

### Description

I am unable to export options using the ```fasti

[2021-11-30 02:33] jeffmiko commented on #436
I think this was user error (aka me). It looks like you can't set host/port via options. My SSL cert/key issue might be something else as well.

[2021-11-30 02:33] #436 closed

[2021-11-30 13:31] Eomm commented on #414
Use case:
https://github.com/fastify/help/issues/568

[2021-11-30 15:01] mcollina commented on #414
It's not needed to be asynchrounous.

[2021-11-30 15:02] mcollina commented on #414
Note that this should support TLS.

[2021-12-02 08:12] #361 closed

[2021-12-02 08:12] #426 closed

[2021-12-09 14:46] gingermusketeer opened #439 "Async logger module"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Support async  modules for logging. This maybe similar to #414.

### Motivation

I have generated a Typescript codebase via the fastify-cli and I am trying to configure the logger so that I can get a format that I need

[2021-12-21 14:12] a-eid commented on #433
I can not add extra files to `--ignore-watch`, it is so confusing.

[2021-12-22 09:43] Eomm commented on #433
Please open a new detailed issue adding a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-12-24 00:53] nooreldeensalah opened #443 "Unable to customize `ajv`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

2.14.0

### Node.js version

14.18.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

21H1 (OS Build 19043.1415)

### Description

I'm trying to customize ajv's be

[2021-12-24 01:13] nooreldeensalah commented on #443
Upon further testing, I got the error on the "server-style" (not the fastify-cli) syntax as well:

Here is the code for the schema and the route.

[code]

Because I got the error without using fastify-cli as well, then it's probably not related to fastify-cli itself, and the error happens when I try to customize ajv's when there are already registered routes.

[2021-12-24 01:43] nooreldeensalah commented on #443
Okay, I apologize for the inconvenience, I just skimmed too quickly over the docs that I didn't read this warning
[code]

[2021-12-24 01:43] #443 closed

[2022-01-20 06:43] Eomm opened #451 "test helper in TS template"
Add the `require('fastify-cli/helper')` utility to the TS template.
Now it exports the old interface.

The test was failing during the implementation:

[code]

_Originally posted by @Eomm in https://github.com/fastify/fastify-cli/issues/446#issuecomment-1012562061_

[2022-01-20 06:44] #416 closed

[2022-01-25 19:14] Eomm opened #453 "How to mock components?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Using the test utility introduced here https://github.com/fastify/fastify-cli/pull/446

[code]

How could the user mock some components?
Is this the only way?

[code]

[2022-01-25 20:15] mcollina commented on #453
Use proxyquire or testdouble (for esm). But truly, you should never do this. Just test the individual plugins as unit (by loading in an vanilla Fastify instance) instead.

[2022-01-29 06:45] #453 closed

[2022-02-04 10:03] seriousme commented on #391
FYI: Currently NPM audit reports another issue on `fastify-cli@2.15.0` because of`blessed-contrib` using `marked`.

[2022-02-04 11:55] lirantal commented on #391
I maintain `blessed-contrib`, let me check what's the issue there.

[2022-02-04 15:09] braekevelt commented on #451
If I generate the default Typescript template with `npx fastify-cli generate app --lang=ts`, the default tests are structured like this:
─ test
├── plugins
│   └── support.test.ts
├── routes
│   ├── example.test.ts
│   └── root.test.ts
└── helper.ts
└── tsconfig.json

Inside the tests, the helper is imported as `import { build } from '../helper'`.
Using `require`, this becomes `const { build } = r

[2022-02-04 15:26] braekevelt opened #456 "Links in README of Typescript template are broken"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

2.15.0

### Node.js version

14.18.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

The links inside `src/routes/README.md` and `src/route

[2022-02-04 15:47] braekevelt opened #457 "Typescript tests in subfolder of routes are not executed"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

2.15.0

### Node.js version

14.18.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

If you move `app/test/routes/example.test.ts` to `app/

[2022-02-05 08:31] Eomm commented on #456
Would you like to send a Pull Request to address this issue?

[2022-02-05 10:00] mcollina commented on #457
Would you like to send a Pull Request to address this issue?

[2022-02-05 10:15] KXLAA commented on #457
I could try to sort this out if @braekevelt doesn't want to

[2022-02-05 10:20] braekevelt commented on #457
@KXLAA you can make the Pull Request if you want to. Thank you!

[2022-02-05 10:36] braekevelt commented on #456
Hmm, this issue is already fixed in master 15 days ago by @rush1506: https://github.com/fastify/fastify-cli/commit/51e1cf706978be514120356e562984cd820a2858#diff-9cf3cdd3514ee512c637fee256b74ffd69947675184924e927eb2321d13d9c6e

[2022-02-05 10:36] #456 closed

[2022-02-15 14:39] mariusa commented on #168
+1 still an issue, shouldn't be closed

[2022-02-15 21:46] UltiRequiem commented on #363
Heey, this will be super useful 😩

[2022-02-16 05:20] mariusa commented on #168
I'm curious if this is a bug. I came here because I didn't know what caused it. After seeing the cause, `FASTIFY_IGNORE_WATCH` was the proper solution. If this were present in the error message ` process forced end`, it would have saved me time.

I believe `--watch` does what it asked, to watch for changes and restart fastify. Changing a file and complaining it restarts shouldn't be an issue, but

[2022-02-16 07:44] Eomm commented on #168
Me too 😄

We don't have a failing error test or something that we can just execute to reproduce the error. I'm using `fastify-cli` and I did not hit this error, so I can't invest too much time to replicate it.

I _assume_ that to solve this case `It's definitely an issue with big files changing inside the folder the CLI is watching`, we need a timeout before starting the reloading process.

I tota

[2022-02-16 18:04] whoisjuan commented on #168
I think this is a bug because running it with an unwrapped node process doesn't produce this exception. Also, writing a file into the app directory is a fairly common practice to deal with temp files and other situations where it is not convenient to keep artifacts in memory.

My expectation is that the fastify-cli should try to mirror standard server behavior as much as possible.

[2022-02-17 07:46] lirantal commented on #391
@seriousme @mcollina I published `blessed-contrib@4.11.0`

Can you run some sanity tests on the functionalities that rely on it? the framework doesn't have any tests so I had to ran some manual checks on my end of the library to make sure it doesn't break anything but want to give you a heads up before you push a new version of the fastify cli

[2022-02-17 20:23] mcollina commented on #168
Maybe somebody could produce some code to replicate the problem?

[2022-02-18 08:29] seriousme commented on #391
Just ran `npm audit fix` on my `fastify-openapi-glue` package which depends on `fastify-cli`. This installed `blessed-contrib@4.11.0`. Running `npm test` after that produced no errors with 100% code coverage.

Fastify-cli itself has dependabot active so `blessed-contrib@4.11.0` will automatically be picked up, tested and merged on succesfull test.
(e.g. see https://github.com/fastify/fastify-cli/p

[2022-02-19 06:33] olischmidt123 opened #460 "Fastify cli marked terminal bug"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

^3.0.0

### Node.js version

v10.19.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.3 LTS (GNU/Linux 5.11.0-1028-aws x86_64)

### Description

Fastif

[2022-02-19 08:26] mcollina commented on #460
Confirmed, we have failing test on Node v10. I guess marked-terminal shipped some unexpected breaking change. Would you like to send a PR to fix this? We should disable the docs feature in Node v10.

I would also note that Node v10 is long deprecated and should not be used.

[2022-02-19 08:29] mcollina opened #461 "drop the docs command"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

I proposed we remove the docs command for a few reasons:

* marked is not well maintained, it had security vulnerabilities that took long to be fixed and problems like #460
* It significantly increase the number of dep

[2022-02-19 12:08] lirantal commented on #391
Sounds great!

[2022-03-01 08:40] waqastanoli opened #467 "Fastify cli does not work in windows 10 and windows 10 professional"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

2.15.0

### Plugin version

none

### Node.js version

14.16.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

19044.1566

### Description

Fastify cli does not work in windows 10 and windo

[2022-03-01 08:46] waqastanoli commented on #467
tried both npm and yarn to add the package same behavior. issue is in
```node_modules\marked-terminal\index.cjs```

[code]

[2022-03-01 08:54] darkgl0w commented on #467
node internal syntax (e.g.: `node:<internal_module_name>`) is not supported by Node.js 14.16.0

[2022-03-01 09:09] darkgl0w commented on #460
related: https://github.com/fastify/fastify-cli/issues/467

`marked-terminal` now makes use of the `node:<core_module>` syntax.
This has been supported only since Node.js 16 and its been back ported to Node.js 14.18.0 and greater only.

[2022-03-01 10:19] waqastanoli commented on #467
It worked, Thanks allot @darkgl0w

[2022-03-01 10:19] #467 closed

[2022-04-25 01:51] is2ei commented on #457
I guess we don't need to specify each subdirectory.

[code]

The command below is enough.

[code]

https://node-tap.org/docs/cli/

[2022-04-25 03:14] is2ei commented on #457
I found `fastify-cli` uses `minimatch` for unit testing but `tap` uses `glob`.

https://github.com/fastify/fastify-cli/blob/master/test/generate-typescript.test.js#L143-L145

https://github.com/tapjs/node-tap/blob/43bf1df7d83287ac419c9b1ad7e9c033fe3aded5/bin/run.js#L434-L439

[2022-04-28 06:24] #301 closed

[2022-04-28 06:24] #397 closed

[2022-04-28 06:24] #194 closed

[2022-04-28 06:24] #402 closed

[2022-04-28 06:24] #409 closed

[2022-04-28 06:24] #414 closed

[2022-04-28 06:24] #439 closed

[2022-04-28 06:24] #168 closed

[2022-04-28 06:24] #460 closed

[2022-05-03 17:44] alexandervu opened #478 "Custom logging framework do not work with ESM projects"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

_No response_

### Node.js version

14.19.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 10 and MacOS 12.3.1

### Description

Defining Custom logging

[2022-05-04 06:51] mcollina commented on #478
Good spot!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-06 19:19] Roxxas96 opened #480 "Fastify generate use deprecated libraries"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.0.0

### Plugin version

2.15.0

### Node.js version

16.14.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

manjaro-release 21.2.6-1

### Description

The `fastify generate` command gener

[2022-05-06 19:21] Roxxas96 commented on #480
Hey ! This is the first Issue of my life on an open-source project. I apologize for any mistakes I could have done ! I would apreciate all your comments/advice 😁.

[2022-05-07 00:59] johntom commented on #467
Hi,
I just removed all nodejs versions to try to fix error with fastify-cli and installed both 16.15.0 and 14.18.3 with nvm.
No matter when irun npm install or yarn add I get the following

D:\devel\htmx-fastify\my-app
fastify
'fastify' is not recognized as an internal or external command,
operable program or batch file.

my ennvionment
Edition	Windows 10 Home
Version	21H1
Installed on	‎2/‎15/‎202

[2022-05-07 05:12] climba03003 commented on #480
The template need to be updated to use the latest `scoped` module.
Would you like to send a PR to address this issue?

[2022-05-07 10:13] Roxxas96 commented on #480
Why not ! I'll fork the project and try to submit a PR as soon as possible.

[2022-05-09 05:28] waqastanoli commented on #467
@johntom did you insall fastify cli globally?
``npm install fastify-cli --global``
https://github.com/fastify/fastify-cli#install

[2022-05-09 15:20] uki1014 commented on #168
@mcollina

I could reproduce this problem using this minimal repository.
https://github.com/uki1014/fastify-cli_issue168

Details of the reproduction procedure are below.

1. launch server `npm run dev` and check localhost:3000.
2. change `return { root: true };` in `src/routes/root.ts` to `return { root: 'foo' };` and make sure compile and fastify are reloaded again.
3. change `return { root: 'fo

[2022-05-10 18:55] miquelfire commented on #480
Looks like #479 took care of this.

[2022-05-11 08:36] segevfiner opened #482 "Support the use of pino-pretty as an alternative to pino-colada"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

For those who prefer it, it would be nice to have a flag to select the use of pino-pretty instead of pino-colada for pretty printing.

P.S. pino-colada currently only supports the older prettifier API of pino and not t

[2022-05-12 08:27] segevfiner opened #483 "New project is generated without dependencies on namespaced @fastify/sensible, and @fastify/autoload"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

cli (3.0.0)

### Plugin version

_No response_

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### Description

A newly generated Fastify project using f

[2022-05-12 08:48] climba03003 commented on #483
Duplicated #480

[2022-05-12 09:52] mcollina commented on #483
Fixed in https://github.com/fastify/fastify-cli/releases/tag/v3.0.0.

[2022-05-12 09:52] mcollina commented on #480
Fixed in https://github.com/fastify/fastify-cli/releases/tag/v3.0.0.

[2022-05-12 09:52] #480 closed

[2022-05-12 09:56] segevfiner commented on #483
@mcollina I just tried this with v3.0.0 and it happened...

[2022-05-12 12:47] #483 closed

[2022-05-19 09:35] segevfiner opened #487 "Configuration for using tsup"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In #485 we talked about possibly using `tsup` instead of `tsc`, so here is some workable configuration for doing so for when you will want to implement it. This configuration doesn't bundle to a single file as I'm unsu

[2022-05-19 11:14] mcollina commented on #487
I'm not sure that bundling would work at all, so this might be a non-starter.

[2022-05-19 11:25] segevfiner commented on #487
@mcollina It doesn't bundle by default. Separate files just like tsc does, this configuration works for me.

[2022-05-19 11:39] climba03003 commented on #487
I don't really understand why the `TypeScript` template do not follow how `JavaScript` does.
It should not `require` a separate process to build and then restart.

What it needs is a `loader.js`.

`package.json` is more simple and clean.
[code]

`loader.js`
TypeScript project already installed `ts-node` and `fastify-autoload` need it.
Why don't we register it using `--require` flag?
[code]

[2022-05-19 11:48] climba03003 commented on #487
The initial one actually added in https://github.com/fastify/fastify-cli/pull/227
I think we should really simplify the `TypeScript` template.
It do not need any more tools.
cc @fastify/typescript ping for advise.

[2022-05-19 12:06] segevfiner commented on #487
One reason might be that ts-node is kinda finicky, but there are alternatives to it that might work better. Some users also might prefer distributing transpiled code rather than TypeScript and having it transpiled at runtime.

As I said in the previous PR, there are many ways fo transpile TS and it's quite opinionated.

[2022-05-19 12:28] climba03003 commented on #487
We can consider ts-node as official tool and we already include it inside the package.json
Why don't we make use of it?

It may not be the most performant, but it should be a good starting point.

[2022-05-19 12:30] segevfiner commented on #487
One problem I can see with it is a tendency to explore on ESM in `node_modules`, but I'm not sure if vanilla tsc doesn't explode on that either.

But, yeah it is already required and used by `tap`.

[2022-05-19 12:33] segevfiner commented on #487
P.S. I suggested offering a CLI flag to allow a choice.

[2022-05-19 13:29] segevfiner commented on #487
There is also [tsx](https://www.npmjs.com/package/tsx)/[esno](https://www.npmjs.com/package/esno) that I heard Vite is examining.

[2022-05-19 13:32] fox1t commented on #487
@climba03003 I am not a fan of ts-node because it works differently than compiling + executing the compiled code with Node.js
It also has different rules for what is compiled (basically ignores everything that is not imported directly by a compiled file). This is also different from how `tsc` works. Moreover, sometimes stack traces are not working as expected. Finally, the build script is needed,

[2022-05-19 13:36] climba03003 commented on #487
Running compiled code in `dev` meanings you will not get to the direct point of that error.
The error stack will show where it throw in the compiled version.
You need extra effort to find it yourself.

I don't think `fastify-cli` will reflect `source-map`.

[2022-05-19 14:45] segevfiner commented on #487
So maybe we need something like https://github.com/evanw/node-source-map-support when working with a configuration that needs source maps for stack traces? Assuming there is nothing built-in nowadays.

[2022-05-19 14:48] climba03003 commented on #487
Yes, the current approach need to add more and more thing in order to support a convenient development environment.

I accept that `ts-node` is not a good enough, but comparing both approach.
It should be the simple one and good for starter.

For advanced user, they can change to use their own stack in this case.

[2022-05-19 15:06] fox1t commented on #487
Actually, Node.js has built-in support for source maps since v12: https://nodejs.org/dist/latest-v12.x/docs/api/cli.html#cli_enable_source_maps
It is experimental, but for dev env, it is excellent to use it.
I don't think that using tsup raises the complexity bar too much.
What I usually use is visible here: https://github.com/fox1t/typescript-microservice-starter/blob/master/package.json#L14 (@cs

[2022-05-19 15:17] climba03003 commented on #487
My intention here is keep thing as simple as possible.
More tools mean the user need to learn and know it before actually start coding.

In my observation in the Discord server. Most of the people use `fastify-cli` is beginner in `fastify`.
They should focus more on how to use `fastify` instead of learning the tools first.

Thanks for raising `--enable-source-maps` flag. I do not know much about `

[2022-05-19 15:25] climba03003 commented on #487
A flag or an interactive selection interface would be great.

[2022-05-19 15:30] fox1t commented on #487
I want an interactive selection interface too!!!

[2022-05-19 19:32] segevfiner commented on #487
Might be useful if you do go for it: https://marketplace.visualstudio.com/items?itemName=segevfiner.tsup-problem-matcher, hopefully it works well 😝

[2022-05-21 19:24] a-eid opened #488 "dist folder doesn't seem to sync with src folder properly ?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

^3.0.0

### Plugin version

^3.1.0

### Node.js version

16.14.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

macos big sur 11.4

### Description

when deleting / renaming files / folders,

[2022-06-03 09:07] skizer opened #492 "Help is not printed: There are 8 help pages that matches the given result"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

When using ´fastify´ it doesn't print the expected

[2022-06-03 12:15] mcollina commented on #492
@simoneb could you take a look? This looks a windows issue

[2022-06-03 12:34] simoneb commented on #492
I don't see anything particularly strange about this. You're invoking fastify-cli (whose executable name is just fastify once you install it globally) with no command, so it prints the help by default. The global help just lists the pages that contain help, so you either need to specify a command (e.g. fastify start) or if you want to show the help you need to invoke it with a command (e.g. fastif

[2022-06-03 13:28] mcollina commented on #492
I think the problem is that the list has full windows paths in them

[2022-06-07 14:49] #492 closed

[2022-06-08 01:47] armada45-pixel opened #497 "Missing custom config server (trust proxy) for fastify-cli"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

In Fastify you can use
[code]
https://www.fastify.io/docs/latest/Reference/Server/#trustproxy

But Fastify-cli don't have way to custom any server config.

### Motivation

Easier to custom config server config.

Make F

[2022-06-08 02:45] armada45-pixel commented on #497
Oh! i found same my idea from https://github.com/fastify/fastify-cli/issues/401

[2022-06-08 02:46] armada45-pixel commented on #497
Oh! i found same my idea from https://github.com/fastify/fastify-cli/issues/401

[2022-06-11 09:53] #482 closed

[2022-06-11 16:22] conioX opened #502 "How to use cluster mode with fastify cli? any example or doc?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi Guys,

Any guide or doc to implement cluster mode with fastify-cli?

[2022-06-11 18:06] #502 closed

[2022-06-13 14:36] Mazuh commented on #363
just opened a PR about it... I didn't want to open space for multiple eslint choices, I just automated (if user desires it) what was already suggested by the readme file, cause I'm not wanting to start any kind of discussion about code style choices to support nor anything like that right now.

[2022-06-14 14:37] mcollina commented on #457
Fixed in https://github.com/fastify/fastify-cli/pull/506

[2022-06-14 14:37] #457 closed

[2022-06-20 13:52] Uzlopak opened #510 "LGTM-Alert: Unreachable Code"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

_No response_

### Node.js version

any

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

any

### Description

This if-condition is always false:
https://github.com/

[2022-06-20 14:06] mcollina commented on #510
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-20 18:47] #510 closed

[2022-06-22 09:03] wlinna commented on #401
Is there a workaround for this? I am new to fastify, and I'd like to set trustProxy to true, but I have no idea how to do that when using fastify-cli.  #497  says that there isn't any way to set it, but is it true?

[2022-06-22 09:07] wlinna commented on #497
Is there a workaround for this? I am new to fastify, and I'd like to set `trustProxy` to true, but I have no idea how to do that when using fastify-cli.  #401 Has been open for some time, and seems to remain unimplemented.

[2022-06-22 10:11] climba03003 commented on #497
Please check the option `--options`, it should be the top of `README.md`.

[2022-06-22 16:03] armada45-pixel commented on #497
It is custom option for plugin not about server.

[2022-06-22 16:58] climba03003 commented on #497
Please read the code and the README.md

It is a custom options for the server creation that means it is pass to `fastify` initialization.

`file` is the `entry` file and `file.options` means `module.exports.options`.
https://github.com/fastify/fastify-cli/blob/d7289194db564d839dc4540f6c1648492776d5f2/start.js#L129-L131

[2022-06-24 23:17] #363 closed

[2022-06-25 09:17] Eomm commented on #401
Right now we have the `--options` flag that reads the JSON config from the app itself: https://github.com/fastify/fastify-cli#start

[2022-06-25 19:37] kamo93 opened #513 "Generate typescript app not starting"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

3.0.0

### Node.js version

14.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.4

### Description

When trying to start a just generate app using

[2022-06-26 02:36] kamo93 commented on #513
The only work around that I found was to run `npm run watch:ts` and `npm run dev:start` on different terminals. But sometimes while the new dist/app.js gets build the server response unavailable service just for a moment.

[2022-06-26 22:13] mcollina commented on #513
Where did you see you should run `npm start dev`?  Running `npm start` works just fine.

I can see the problem you are describing with `npm run dev`. Is this correct?

[2022-06-26 22:18] mcollina commented on #513
@fastify/typescript could you take a look here? I don't understand why `npm run dev` is not really working.

[2022-06-26 22:32] kamo93 commented on #513
Sorry my mistake. The problem occurs with `npm run dev`

[2022-06-27 01:52] BigGillyStyle commented on #513
FWIW...I also am seeing this same problem in this local config:

MacOS: Monterey 12.4
Node: 16.15.1
NPM: 8.13.1

[code]

[2022-06-27 07:15] mcollina commented on #513
I have no clue why this is happening and not really much time to look into it right now. A PR that fixes this would be awesome.

[2022-06-27 07:49] wlinna commented on #497
I don't really understand this from the README, and reading the code doesn't make it much clearer either.  I tried to use the `options` option with a simple example, but so far without luck (or maybe there's just a simple mistake somewhere).

I export `options` with  `ignoreTrailingSlashes: true` and  run the app like this: `fastify start --options -l info -P  dist/app.js`

But when I try `http://

[2022-06-27 12:18] wlinna commented on #513
For me it works when I run `npm run dev` the first time, but after I modify files and save, and `tsc -w` compiles, the server doesn't seem to start anymore. I also sometimes see that Service Unavailable though.

For the few weeks that I've used  `fastify-cli ^3.1.0` and `fastify ^3.0.0` this never happened, but after upgrading  it stopped working.

[2022-06-27 21:56] BigGillyStyle commented on #513
I have done some investigation locally, and `npm run dev` does not work for a TS-generated project with `fastify-cli` 4.2.0 but _does_ with 4.1.1 and earlier (went back incrementally to 3.1.0 and found this to be true in all cases).  In particular in 4.2.0 and [this line](https://github.com/fastify/fastify-cli/blob/master/lib/watch/index.js#L54):

[code]

...is in an endless loop of restarts.  The

[2022-06-27 22:03] BigGillyStyle commented on #513
If I revert the one-line change in [this PR](https://github.com/fastify/fastify-cli/pull/511), then my local testing with all the other 4.2.0 changes shows that this issue is fixed.

[2022-06-27 22:11] BigGillyStyle commented on #513
If it's desired, I can work on a PR to revert this (or whatever else might be recommended)

[2022-06-27 22:42] BigGillyStyle commented on #513
Yes, I can do that.  I'd like to spend at least some time understanding the code paths that result in a `null` versus `0` code in order to hopefully prevent a regression of this nature in the future.  Some unit tests that made those distinctions clear would be (I think) ideal.

[2022-06-28 10:50] wlinna commented on #497
Thank you, with the new version of `fastify-cli` and correcting to `ignoreTrailingSlash`, things seem to work

[2022-06-29 06:48] fox1t commented on #513
I am not sure why that change was introduced in the first place :/

[2022-06-29 09:39] mcollina commented on #513
Note that `!code !== 0` always evaluates to `true`, independently of the value of `code`. It's a bug.

[2022-06-29 09:42] fox1t commented on #513
Yes, but did we understand how it affects the TS template restart? (I didn't :/)

[2022-06-29 09:44] mcollina commented on #513
No clue on that yet.

[2022-06-29 11:07] BigGillyStyle commented on #513
Actually...if you go back to the file history, the bug was that it always evaluated to `false`:

https://github.com/fastify/fastify-cli/blob/v3.1.0/lib/watch/index.js#L51
[code]

And indeed...in my own testing locally of both JS and TS generated projects using fastify-cli 4.2.0...if I just remove that code block altogether, everything works as expected (on initial start of server as well as after

[2022-07-01 08:55] Vistey commented on #513
try this
[code]

[2022-07-01 10:20] alzedd opened #516 "fix some eject-ts inconsistencies"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

ALL

### Plugin version

_No response_

### Node.js version

ALL

### Operating system

ALL

### Operating system version (i.e. 20.04, 11.3, 10)

ALL

### Description

So, I will put here a list of all the inconsistencies I fo

[2022-07-02 19:40] bcomnes opened #518 "Watch never restarts the server after multiple watch events (v4.2.0)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### CLI version

4.2.0

### Node.js version

18.4.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

After updating to fastify-cli 4.2.0 from 4.1.1, it seems as t

[2022-07-02 19:58] bcomnes commented on #518
Caused by this patch: https://github.com/fastify/fastify-cli/pull/511

[2022-07-02 20:12] bcomnes commented on #518
Closing in favor of https://github.com/fastify/fastify-cli/pull/515 and https://github.com/fastify/fastify-cli/issues/513

[2022-07-02 20:12] #518 closed

[2022-07-03 21:04] Uzlopak commented on #513
Well in hindsight I should have removed the code and avoided so the regression.

[2022-07-04 08:50] alzedd commented on #516
I would love to.
This will be my first FOSS contribution, so please, go easy on me :)

[2022-07-04 11:04] denes-fekeshazy commented on #478
There has been a few updates to `fastify` and `fastify-cli` since the issue has been raised. So I have figured I should verify if the issue is still present in the latest version of these packages. Using the provided "steps to reproduce" I was not able to encounter the raised issue using the latest `fastify` and `fastify-cli` versions.
@alexandervu, could you please verify if you are still experie

[2022-07-04 14:10] nooreldeensalah commented on #401
I'm interested in working on this issue, but I wanted to inquire about a specific detail.

Let's say, for example, there's a `config.js` file with the following options

[code]

And the user while starting the application passed both `--config=config.js` and `--port=6000`, which port number should be given the priority, or should this return an error?

[2022-07-04 18:00] #478 closed

[2022-07-05 12:18] #401 closed

[2022-07-06 18:21] nooreldeensalah commented on #411
I was gonna start working on this issue, but it seems like that this functionality already exists.

I've tested it on the TypeScript template (which uses ESM format), and it seems to be working.

And if someone wants to double-check the functionality, adding a `console.log(file.options)` after `line 85` in `start.js` should return the exported options object.
https://github.com/fastify/fastify-cli

[2022-07-07 11:04] #411 closed

[2022-07-07 12:50] #461 closed

[2022-07-08 02:04] nooreldeensalah commented on #411
@jstayton So I've initially tested this behavior on TypeScript, and it worked, this was the reason I've commented.

But indeed, testing it on JavaScript, it doesn't work.

I think it works on TypeScript because it eventually gets compiled to `commonjs` (Attempting to check the script type when using TypeScript in `util.js`  at `line 69` returns `commonjs`). Which is not the case when using ESM in

[2022-07-10 19:44] johntom commented on #467
Hi,
I'm back on this as I want to start a fresh project as I'm having issues with fastify socket since doing some upgrades.
Windows 10 Home  V: 21H1 OSBuild 19043.1766
Im using nvm and uninstalled and reinstalled all versions
1) I installed  npm install fastify-cli --global for
17.5.0
16.15.0
14.18.3
2) all give me the same error
[code]

[2022-07-12 05:35] mil7 commented on #478
Unfortunatly this issue is still a present one.

But there exists a workaround: Additional to the `log.cjs` you have to create a file `log` (without any file endings) and this content:

[code]

[2022-07-13 05:45] nooreldeensalah commented on #271
Is this still an issue? Or was this fixed by #272?

[2022-07-23 12:16] tehla opened #527 "--watch option is not working"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

16.14.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

alpine3.14

### Description

Hello

I'm trying to mount a dev stack with

[2022-07-24 19:04] mcollina commented on #527
As far as I'm aware, watching file is not supported over docker. I would recommend to avoid using docker for development.

[2022-07-24 19:04] #527 closed

[2022-07-28 00:18] fraprion commented on #497
Please publish the 4.4.0 to npm. It took me several hours to figure out that the problem is already solved.

[2022-07-28 06:50] Eomm commented on #497
It was released 17 days ago.
https://github.com/fastify/fastify-cli/releases/tag/v4.4.0

But this issue was a typo on the config actually

[2022-07-28 06:53] climba03003 commented on #497
https://www.npmjs.com/package/fastify-cli
Not in `npm`.

[2022-07-28 12:55] Eomm commented on #497
fixed: https://www.npmjs.com/package/fastify-cli/v/4.4.0

something went wrong during the latest release @mcollina

[2022-08-04 22:55] pclalv opened #531 "Improvements to graceful termination strategy suggested by templates"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

### Templates using close-with-grace should use a delay should be greater 500ms

as of the time of writing this, the eject template uses close-with-grace with a delay of 500ms:  https://github.com/fastify/fastify-cli/blob/f4453bfff02884

[2022-08-05 21:45] mcollina commented on #531
Every single team I worked implemented some form of graceful shutdown to let the application complete ongoing requests. The majority of them implemented it wrong, causing production bugs. Therefore I wrote close-with-grace and this this ships with it enabled.

The way this works combined with Fastify will ensure no request is truncated nor lost in a healthy scenario (< the timeout). No one wants t

[2022-08-07 08:05] #516 closed

[2022-08-10 09:22] groma84 opened #536 "Extend the pretty-logs options given to fastify's pino-pretty"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

At the moment the flag --pretty-logs switches to 'pino-pretty' as a target in fastify's logging. But no options are given to pino-pretty while doing so.
I propose to extend fastify-cli with a method to set at least som

[2022-08-10 10:40] mcollina commented on #536
Go ahead and send a PR. I've also just opened https://github.com/pinojs/pino-pretty/pull/366.

[2022-08-12 18:11] avanelli commented on #451
I was trying to reproduce the failing test, but it seems that any change made to templates/app-ts/test/routes/example.test.ts does not trigger any error.

[2022-08-13 07:15] avanelli commented on #531
@mcollina  since `require('dotenv').config()` is already in place, could we use `process.env.CLOSE_GRACE_DELAY || 500` ?
I could open a PR with this.

[2022-08-13 14:55] mcollina commented on #531
Sure thing, go ahead!

[2022-08-14 12:29] minemax-ua commented on #267
So, is there a way to make fastify-cli *generate* code with esm modules (instead of rather outdated 'require')?

[2022-08-16 14:57] avanelli commented on #536
**It is possible to configure pretty print using `--logging-module`.**

I couldn't find any example in the docs (maybe we can add this explanation somewhere).
It took me some experiments to make it work.

You need to:
`npm install pino pino-pretty --save-dev`

create `custom_logger.js`
[code]
run something like
`fastify start --pretty-logs --logging-module="./custom_logger.js" --log-level=info plu

[2022-08-17 10:49] #536 closed

[2022-08-20 19:11] ram-you opened #539 "Support ESM on generate (optional)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Is there a way to make fastify-cli generate code with esm modules (optional)?

### Motivation

_No response_

### Example

`fastify generate folderName --esm`

[2022-08-20 19:15] ram-you commented on #267
@minemax-ua
I created a new issue https://github.com/fastify/fastify-cli/issues/539

[2022-08-21 20:30] mcollina commented on #539
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-24 06:53] nooreldeensalah commented on #539
I would like to work on this!

[2022-08-24 07:05] mcollina commented on #539
go for it!

[2022-08-25 05:43] #539 closed

[2022-08-30 17:58] evanshortiss opened #543 "support a --help flag for intuitive usage"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Adding a `--help` flag to improve developer experience.

### Motivation

I wanted to generate a project, but was curious about customisation aspects. I ran `fastify generate ---help` but this printed an error `must spe

[2022-08-30 22:22] mcollina commented on #543
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-31 22:31] evanshortiss commented on #543
Happy to take a look and try my hand at a PR 👍

[2022-09-03 06:52] mccare opened #546 "fastify-cli: print log messages during test"
#### You have already researched for similar issues?
Yes, nothing found

#### What are you trying to achieve, or the steps to reproduce?

I'm trying to see the `fastify.log` statements that get printed during my test. This only seems possible if fastify is logging to stderr instead of stdout (where it is swallowed by tap). I'm trying to instantiate a custom logger by using the `build` method of
th

[2022-09-03 07:06] mcollina commented on #546
Thanks for reporting! This is currently not supported by fastify-cli. Would you like to send a Pull Request?

[2022-09-03 08:07] Eomm commented on #543
Merged in https://github.com/fastify/fastify-cli/pull/544

Thks for your contribution!

[2022-09-03 08:07] #543 closed

[2022-09-04 09:29] Eomm commented on #451
To replicate the issue you need to restore this commit:
https://github.com/fastify/fastify-cli/pull/446/commits/56dcb64020e5a39820c9d8f826859949de880edc

The scope of this issue is to use `fastify-cli/helper` instead of other stuff.

If it is working now, it would be nice if you could submit a PR to update the ts template

[2022-09-05 23:49] nooreldeensalah commented on #451
I've experimented a bit with this issue, and I've managed to use `fastify-cli/helper` interface in the TypeScript template, although I couldn't use `import`, probably because of missing types and other TypeScript related configurations. So, I've attempted doing minimal changes to get the helper working.

All the tests are passing, if you wish to see the changes and experiment with them, you can fi

[2022-09-06 18:04] monkoninja opened #547 "watch mode not working with esm"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

server does not restart after editing files if e

[2022-09-06 23:27] nooreldeensalah commented on #547
I couldn't reproduce this on my end, watch mode is working as expected in the esm template.
My environment:
`OS`: Windows 10 (21H1)
`Node`: 16.17.0
`Fastify-CLI`: 5.4.1

[2022-09-07 11:11] monkoninja commented on #547
I updated nodejs to 16.17.0 and it works now.

[2022-09-07 11:11] #547 closed

[2022-09-07 12:11] monkoninja opened #548 "watch mode not working with git worktree"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

_No response_

### Node.js version

16.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

At #547, I mistakenly assumed that watch mode wa

[2022-09-07 20:28] mcollina commented on #548
What's special with `worktree` that breaks this? We just use normal OS file watching.

[2022-09-09 13:05] monkoninja commented on #548
I'm not sure what the problem is, so far I'm using `nodemon`. It works with `worktree`.

[2022-09-11 16:19] meotimdihia opened #549 "fast reload like Next.js"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Hi, my project has a lot of routes ~100 routes and ~150 dependencies. And everything is slowing down.
I used all tools `nodemon` , `ts-node`, `ts-node-dev`, `backpack` and `fastify-cli` (v4)
I even purchase a new good

[2022-09-12 06:47] Eomm commented on #549
I think it can do it because of money.
Vercel pays devs to work on the Next.js framework full-time.

[2022-09-12 09:23] sidwebworks commented on #549
"Hot reload" or HMR (Hot module replacement) is something backend devs are trying to solve for a long time,

But AFAIK its more linked to the build system than just the framework alone, eg: Nest JS's hot reload sits on top of Webpack's HMR system.
https://docs.nestjs.com/recipes/hot-reload

So maybe if Fastify creates an integration with Vite or something then it might be possible to do.

I probab

[2022-09-14 09:21] meotimdihia commented on #549
Hi, I just have used `fastify-cli@5` again. It is faster than other solutions. 👍

[2022-09-14 15:47] sidwebworks commented on #549
@meotimdihia If speed is the main thing you're looking for, I've had some good experiences using `tsx` https://github.com/esbuild-kit/tsx

[2022-09-14 16:15] sidwebworks commented on #549
Haha good for us I guess, Fastify stands strong in being the fastest.

[2022-09-19 16:51] nooreldeensalah commented on #548
I couldn't reproduce this on my end, I followed the steps enlisted.

![chrome-capture-2022-8-19](https://user-images.githubusercontent.com/61914159/191070633-522911d9-d2e5-4ec5-9663-005534a2f0cc.gif)

 My environment:
- OS → Windows 10 (21H1)
- Node Version: 16.17.0
- Fastify-CLI Version: 5.4.2

[2022-09-20 02:13] soulsam480 commented on #549
Idk sir what are your requirements, but for me tsx's been the fastest irrespective of codebase size.

[2022-09-21 13:08] #451 closed

[2022-09-24 15:34] Eomm commented on #548
I think the source of the issue starts from here:
https://github.com/nodejs/node/issues/36005

and leads to the [`chokidar`](https://github.com/paulmillr/chokidar/commits/HEAD) module's funding

If we drop that module, we should go for the `node:fs.watch` one

[2022-10-10 12:19] mcollina opened #557 "migrate to https://github.com/pkgjs/parseargs"
After `minimist` became unmaintained and its repository removed, we should migrate to https://github.com/pkgjs/parseargs - and eventually to `util.parseArgs()`.

[2022-10-14 15:43] tandibar opened #558 ".env values override existing env vars when using --watch"
If you start a fastify app with the fastify cli and the watch parameter, the environment variable precedence is changed.

## Example

So if you have a `.env` file with

    MY_ENV_VAR=foo

and you run

    MY_ENV_VAR=bar fastify start app.js

then `process.env.MY_ENV_VAR` will be 'bar'. Perfect! But if you run it with the watch parameter like

    MY_ENV_VAR=bar fastify start --watch app.js

then

[2022-10-20 13:21] rommelandrea opened #561 "Improve help on fastify start"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

According to the code, i found a lack on help for command fastify start.
Going to read issue #200 and within the code it is possible to enable debugging (inspect) and change the port, but within the help this possibili

[2022-10-26 06:47] #561 closed

[2022-10-30 09:44] segevfiner opened #563 "Command to generate swagger/openapi schema from @fastify/swagger"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be cool to have a CLI command to generate the swagger/openapi schema that [@fastify/swagger](https://github.com/fastify/fastify-swagger) generates to a file.

### Motivation

So that I won't have to start the

[2022-11-02 14:52] mcollina commented on #563
We have some code for doing this in Platformatic: https://github.com/platformatic/platformatic/blob/main/packages/db/lib/gen-schema.mjs

I don't think this should be part of fastify-cli as having an OpenAPI definition is likely too opinionated.

[2022-11-02 14:58] segevfiner commented on #563
As just a subcommand, or as a plugin to fastify-cli itself? Or an external command that uses some the same code that fastify-cli uses to import the app (Which might not be exported ATM)?

[2022-11-02 15:13] mcollina commented on #563
The problem is that this does not bundle `@fastify/swagger`, so how would you add this plugin to the CLI?

[2022-11-02 16:01] segevfiner commented on #563
Condtionally at runtime, the user will have to install it in is app, we will only check if it exists on the app instance rather than try to use our own copy.

[2022-11-02 16:03] mcollina commented on #563
I would love to see how you'd implement this. However I'm not sure this would land.

[2022-11-08 00:05] rommelandrea opened #565 "on eject command create option for esm server"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

create a new template for eject server.js when using module instead of commonjs

### Motivation

missing this feature

### Example

fastify eject --esm

[2022-11-08 01:59] ekoeryanto commented on #549
I have refactored one generated by fastify cli with --lang=ts using bob-ts for simplicity
https://github.com/ekoeryanto/fastify-esbuild

should we implement it here, maybe with --bob arg?

[2022-11-14 11:59] #565 closed

[2022-11-27 12:56] adminy opened #569 "Watch commands parameter => run command on watch triggered"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Every time there is a file change I would like to run the standard command on the code, unfortunately there is no arguments that watch takes in to configure it to do that, but it seems like a very useful feature if we